{# Footer #}
<footer id="cua-footer" class="mt-5">

    {# Super-footer #}
    {% if super_footer %}
        <div id="cua-super-footer" class="container-fluid">

            {# Before Footer #}
            {% if page.before_footer %}
                {% block before_footer %}
                    <div id="cua-before-footer" class="container pt-3">
                        {{ page.before_footer }}
                    </div>
                {% endblock %}
            {% endif %}

            <div class="container pt-4 pb-4">
                <div class="row center-block">

                    {# Footer One #}
                    {% if page.footer_01 %}
                        <div class="footer-first col-md-4 col-sm-12">
                            {{ page.footer_01 }}
                        </div>
                    {% endif %}

                    {# Footer Two #}
                    {% if page.footer_02 %}
                        <div class="footer-second col-md-4 col-sm-12">
                            {{ page.footer_02 }}
                        </div>
                    {% endif %}

                    {# Footer Three #}
                    {% if page.footer_03 %}
                        <div class="footer-third col-md-4 col-sm-12">
                            {{ page.footer_03 }}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endif %}
    {# /Super-Footer #}

    {# Bottom Footer #}
    <div id="cua-footer-bottom" class="container-fluid bg-black px-5 py-3">
        <div class="row">

            {# Left Column #}
            <div id="cua-address" class="col-md-6 col-sm-12" aria-label="colorado address and contact information">

                {# title #}
                <h3>{{ 'University of Colorado'|t }}</h3>
                <h5>{{ 'CU Advancement | CU Foundation'|t }}</h5>

                {# Address #}
                <p>{{ '1800 Grant Street, Suite 800'|t }}<br/>{{ 'Denver, CO 80203'|t }}</p>

                {# Telephone #}
                <span itemprop="telephone">
                   <a class="cua-phone" href="tel: +13035411290"
                      aria-label="{{ 'telephone'|t }}">{{ '+1 303.541.1290'|t }} {{ '|'|t }} </a>
                </span>

                {# Email #}
                {% set email = 'giving@cu.edu' %}
                {% set obfuscatedEmail = email|replace({'@': '&#64;', '.': '&#46;'}) %}
                <a href="mailto:{{ obfuscatedEmail|raw }}">{{ obfuscatedEmail|raw }}</a>

                {# Map #}
                <div>
                    <a class="cua-campus-map mt-3" href="https://goo.gl/maps/6tZnMFZ7Ypi4bzNq7"
                       aria-label="{{ 'Campus Map'|t }}">{{ 'Campus Map'|t }}</a>
                </div>

            </div>{# /Left Column #}

            {#  Right Column #}
            <div class="col-md-6 col-sm-12 mt-3" aria-label="colorado logo and copyright">
                <div class="row">

                    {#  Logo #}
                    <div class="col-sm-12" id="cua-logo">
                        <a href="https://cu.edu/" title="Colorado University" rel="home"
                           class="site-branding-logo float-end">
                            <img src="{{ base_path }}{{ active_theme_path() }}/logo-white.svg" alt="Colorado University"
                                 width="400px" height="90px">
                        </a>
                    </div>

                    {#  Copyright #}
                    <div class="col-sm-12 float-end">
                        <p class="small float-end p-1 mt-3">
                            {{ '©'|t }}{{ 'now'|date('Y') }} {{ 'Colorado University • CU Advancement | CU Foundation'|t }}</p>
                    </div>

                    {#  CU Staff Login #}
                    <div class="col-sm-12">
                        <a href="/user" class="float-end">{{ 'CU Staff Login'|t }}</a>
                    </div>
                </div>
            </div>{# /Right Column #}

        </div> {# /Row #}
    </div> {# /Bottom Footer #}

</footer> {# /Footer #}