{# Generate a unique ID to prevent multiple accordions interfering #}
{% set uid = 'accordion-' ~ random() %}
{% set header_id = uid ~ '-header' %}
{% set collapse_id = uid ~ '-collapse' %}

<div{{ attributes.addClass('accordion') }} id="{{ uid }}">
	<div class="accordion-item">
		<h2 class="accordion-header" id="{{ header_id }}">
			<button class="accordion-button collapsed"
			        type="button"
			        data-bs-toggle="collapse"
			        data-bs-target="#{{ collapse_id }}"
			        aria-expanded="false"
			        aria-controls="{{ collapse_id }}">
				{{ content.field_title ?? 'Missing title' }}
			</button>
		</h2>
		
		<div id="{{ collapse_id }}"
		     class="accordion-collapse collapse"
		     aria-labelledby="{{ header_id }}"
		     data-bs-parent="#{{ uid }}">
			<div class="accordion-body">
				{{ content.field_body ?? 'Missing body' }}
			</div>
		</div>
	</div>
</div>