{#
/**
 * @file
 * Template for the Spacer component.
 */
#}

{{ attach_library('cua_theme/spacer') }}

{% set unique_id = 'block--node--spacer--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}
{% set spacer_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'spacer',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
]|merge(utility_classes is iterable ? utility_classes : [])|join(' ')|trim %}

<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(spacer_classes).setAttribute('aria-hidden', 'true') }}>
    <div class="spacer {{ size }} g-0">

        {% if is_admin %}
            <div class="small text-align-center" aria-hidden="true">
                {{ label }}: {{ 'Blank space size:'|t }} {{ size }} {{ '(Only visible for logged-in admins)'|t }}
            </div>
        {% endif %}

    </div>
</div>