{#
/**
* @file
* Template for the Spacer component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Render content #}
<div{{ attributes }}>
    <div class="spacer {{ size }}">
        {{ title_prefix }}
        <div class="small text-align-center"> {{ 'Blank space size:'|t ~ ' ' ~ size ~ ' ' ~ '(Only visible for logged in ADMIN)'|t }}</div>
        {{ title_suffix }}
    </div>
</div>
