{#
/**
* @file
* Template for the Image component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{% set image_bundle_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'cu-image',
    margins ?: null,
    padding ?: null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
] | merge(utility_classes ? utility_classes : []) | join(' ')|trim %}

{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(image_bundle_classes) }}>

    {# Title #}
    {{ title_prefix }}
    <div class="visually-hidden">
        {{ label }}
    </div>
    {{ title_suffix }}

    {# Image with/out link #}
    {% if card_image %}
        {% if links %}
            {% set firstLink = links[0] %}
            <a class="img-hover-effect" href="{{ firstLink.url }}"
               title="{{ firstLink.title }}" aria-label="{{ firstLink.title }}"
               aria-hidden="true">
                {% include '@cua_theme/component/card/_card--image.html.twig' %}
            </a>
        {% else %}
            {% include '@cua_theme/component/card/_card--image.html.twig' %}
        {% endif %}
    {% endif %}

    {# Body #}
    {% if body %}
        <div class="card-body d-flex flex-column card-text lead g-0 clearfix {{ padding ?: '' }} {{ text_color ?: '' }} {{ text_alignment ?: '' }} mt-3">
            {{ content.body|render }}
        </div>
    {% endif %}

</div>
