{#
/**
 * @file
 * Template for the Image Bundle component.
 *
 * Bootstrap Documentation:
 * https://getbootstrap.com/docs/5.3
 */
#}

{# ------------------ Class Compilation ------------------ #}
{% set image_bundle_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'image-bundle',
    'card rounded-0',
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    text_alignment in ['text-start', 'text-center', 'text-end'] ? text_alignment : null,
    margins ?: null,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# ------------------ Generate Unique ID ------------------ #}
{% set unique_id = 'block--node--image-bundle--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# ------------------ Render Content ------------------ #}
<div{{ attributes
|without('id')
    .setAttribute('id', unique_id)
    .addClass(image_bundle_classes)
    .setAttribute('role', 'region') }}>

    {# Drupal Edit Links (must remain) #}
    {{ title_prefix ?: '' }}
    {{ title_suffix ?: '' }}

    {# ------------------ Title ------------------ #}
    {% if label %}
        {% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}
        {{ titleMacros.render_title(
            label,
            '',
            '',
            null,
            text_alignment,
            text_color,
            padding,
            true,
            [],
            null,
            3
        ) }}
    {% endif %}

    {# ------------------ Image ------------------ #}
    {% if card_image %}
        {% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
        {{ cardImageMacros.render_card_image(
            card_image,
            position_container,
            text_alignment,
            text_color,
            image_size,
            visibility,
            content,
            links
        ) }}
    {% endif %}

    {# ------------------ Caption ------------------ #}
    {% if caption %}
        {% import '@cua_theme/component/macros/card_caption.html.twig' as captionMacros %}
        {{ captionMacros.render_caption(
            caption,
            padding,
            text_color,
            text_alignment
        ) }}
    {% endif %}

    {# ------------------ Body ------------------ #}
    {% if content %}
        {% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
        {{ bodyMacros.render_body(
            content,
            padding,
            text_color,
            text_alignment,
            null,
            text_color
        ) }}
    {% endif %}

    {# ------------------ Footer ------------------ #}
    {% if links %}
        {% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}
        {{ cardFooterMacros.render_card_footer(
            links,
            container_size,
            color_background,
            position_container,
            text_alignment,
            padding,
            outline,
            button_color,
            button_layout
        ) }}
    {% endif %}

</div>