{#
/**
* @file
* Template for the Image component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{%
    set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'cu-image',
    'm-3',
]
%}

<div{{ attributes.addClass(classes) }}>
    {# Title #}
    {{ title_prefix }}
    {% if label %}
        <h4{{ title_attributes.addClass(text_alignment is not empty ? ' ' ~ text_alignment) }}>{{ label }}</h4>
    {% endif %}
    {{ title_suffix }}
    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}
</div>
