{#
/**
* @file
* Template for the Banner component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Attach the library #}
{{ attach_library('cua_theme/banner') }}

{# Add optional variables based on conditions #}
{% set color_background = color_background is not empty ? color_background : '' %}
{% set container_size = container_size is not empty ? container_size : '' %}
{% set effect = effect is not empty ? 'px-5 mx-5 kenburns-' ~ effect : '' %}
{% set effect_copy = effect_copy is not empty ? 'px-5 mx-5 kenburns-' ~ effect_copy|clean_class : '' %}
{% set text_color = text_color is not empty ? text_color|clean_class : '' %}
{% set parallax = parallax is not empty ? parallax|clean_class : '' %}
{% set position_container = position_container is not empty ? 'd-flex ' ~ position_container|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}

{# Set id and classes #}
{% set container_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'jumbotron jumbotron-fluid banner g-0',
    color_background,
    container_size,
    effect,
    parallax,
    margins,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class]|merge(utility_classes ? utility_classes : []) %}

{# Initialize animation classes #}
{% set animation_classes = [
    position_container
] %}

{# Add optional classes based on conditions #}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = animation_classes | merge(['animate-trigger']) %}
{% endif %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(container_classes) }} {% if content.field_image['#items'].entity.uri.value %} style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center"{% endif %}>
    <div{{ attributes.addClass(animation_classes) }} {% if animation or animation_speed or animation_delay %}
            data-animation-classes="animate__animated {{ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay }}{% endif %}">

        <div class="col-md-5 col-sm-12 banner-body {{ color_background }} {{ text_color }} {{ effect_copy }}">
            {# Include Title Component #}
            {% include '@cua_theme/component/title/_title.html.twig' %}

            {# Include Body Component #}
            {% include '@cua_theme/component/body/_body.html.twig' %}

            {# Include Link/Button Component #}
            {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
        </div>

    </div>
</div>


{#
/**
* @file
* Template for the Banner component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Attach the library #}
{{ attach_library('cua_theme/banner') }}

{# Add optional variables based on conditions #}
{% set color_background = color_background is not empty ? color_background : '' %}
{% set container_size = container_size is not empty ? container_size : '' %}
{% set effect = effect is not empty ? 'px-5 mx-5 kenburns-' ~ effect : '' %}
{% set effect_copy = effect_copy is not empty ? 'px-5 mx-5 kenburns-' ~ effect_copy|clean_class : '' %}
{% set text_color = text_color is not empty ? text_color|clean_class : '' %}
{% set parallax = parallax is not empty ? parallax|clean_class : '' %}
{% set position_container = position_container is not empty ? 'd-flex ' ~ position_container|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}

{# Set id and classes #}
{% set container_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'jumbotron jumbotron-fluid banner g-0',
    'container_fluid',
    color_background,
    margins,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class]|merge(utility_classes ? utility_classes : []) %}

{# Initialize animation classes #}
{% set animation_classes = [
    position_container
] %}

{# Add optional classes based on conditions #}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = animation_classes | merge(['animate-trigger']) %}
{% endif %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(container_classes) }}>
    {# Image Container with variables #}
    <div class="{{ parallax }} {{ effect }} {{ position_container }} {{ container_size }}" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center;">

        {# Include Animation if Active #}
        {% if animation or animation_speed or animation_delay %}
        <div{{ attributes.addClass(animation_classes) }} data-animation-classes="animate__animated {{ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay }}">
            {% endif %}

            {# Title, Body and Link Content #}
            <div class="col-md-7 col-sm-12 banner-body {{ color_background }} {{ text_color }} {{ effect_copy }} my-5">
                {# Include Title Component #}
                {% include '@cua_theme/component/title/_title.html.twig' %}

                {# Include Body Component #}
                {% include '@cua_theme/component/body/_body.html.twig' %}

                {# Include Link/Button Component #}
                {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
            </div>

            {# Include Animation if Active #}
            {% if animation or animation_speed or animation_delay %}
        </div>
        {% endif %}

    </div>
</div>