{#
/**
 * @file
 * Template for the Banner component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Attach the library #}
{{ attach_library('cua_theme/banner') }}

{# Preload background image #}
{% set bg_image_url = file_url(content.field_image['#items'].entity.uri.value) %}
<div style="background-image: url('{{ bg_image_url }}');"></div>

{# Import all macro files at the top #}
{% import '@cua_theme/component/macros/title_macros.html.twig' as titleMacros %}
{% import '@cua_theme/component/macros/body_macros.html.twig' as bodyMacros %}
{% import '@cua_theme/component/macros/card_footer_macros.html.twig' as cardFooterMacros %}

{# Add optional classes based on conditions #}
{% set effect_copy_class = effect_copy is not empty ? 'px-5 mx-5 kenburns-' ~ effect_copy|clean_class : '' %}

{# Set container classes #}
{% set container_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'jumbotron jumbotron-fluid banner g-0',
    'container-fluid',
    color_background ?: null,
    margins ?: null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ? utility_classes : []) | filter(v => v) | join(' ') %}

{# Set image classes #}
{% set image_container_classes = [
    'banner-image-container',
    parallax ?: null,
    effect is not empty ? 'px-5 mx-5 px-sm-2 mx-sm-2 kenburns-' ~ effect|clean_class : null,
    position_container is not empty ? 'd-flex ' ~ position_container|clean_class : null,
    container_size ?: null,
] | filter(v => v) | join(' ') %}

{# Set banner-body classes #}
{% set banner_body_classes = [
    'col-md-5',
    'col-sm-12',
    'banner-body mx-5',
    color_background ?: null,
    text_color ?: null,
    effect_copy_class,
    padding ?: null,
    'my-5 my-sm-3',
    (animation or animation_speed or animation_delay) ? 'animate-trigger' : null,
] | filter(v => v) | join(' ') %}

{# Set data attributes for animation #}
{% set animation_classes = (animation or animation_speed or animation_delay) ? 'animate__animated ' ~ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay : null %}

{# Generate unique ID #}
{% set unique_id = 'block--node-banner--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Content #}
<div{{ attributes.setAttribute('id', unique_id).addClass(container_classes) }}>
    {# Image Container with variables #}
    <div class="{{ image_container_classes }}" style="background-image: url('{{ bg_image_url }}'); background-size: cover; background-position: center;">
        <div class="{{ banner_body_classes }}" {% if animation_classes %}data-animation-classes="{{ animation_classes }}"{% endif %}>

            {# Render the title #}
            {{ titleMacros.render_title(
                label,
                title_prefix,
                title_suffix,
                center_content,
                text_alignment,
                text_color,
                padding,
                links
            ) }}

            {# Render the body #}
            {{ bodyMacros.render_body(
                content,
                padding,
                text_color,
                text_alignment
            ) }}

            {# Render the footer #}
            {{ cardFooterMacros.render_card_footer(
                links,
                container_size,
                color_background,
                position_container,
                text_alignment,
                padding,
                outline,
                button_color
            ) }}

        </div>
    </div>
</div>