{#
/**
* @file
* Template for the Tab component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
#}

{%
    set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
]
%}

{# Attach the library #}
{{ attach_library('cua_theme/tabs') }}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div{{ content_attributes.addClass('content') }}>
            {{ content }}
        </div>
    {% endblock %}
</div>

