{# Spacer #}

{# Attach the library #}
{{ attach_library('cua_theme/spacer') }}

{# Content #}
<div{{ attributes }}>
  <div id="spacer" class="{{ content.field_size.0 }}">
    {{ title_prefix }}
        <div class="spacer-title align-middle text-center"> {{ 'Blank Space '|t }} ({{ content.field_size.0 }})<br>{{ '(text and background only visible when logged in)'|t }}</div>
    {{ title_suffix }}
  </div>
</div>
