{% apply spaceless %}
{%- set id = 'faq-' ~ row._entity.id() -%}
{%- set category_name = row._entity.field_category.entity.label|clean_class -%}
{%- set accordion_id = 'faq-accordion-' ~ category_name -%}

<div class="accordion-item">
    <h3 class="accordion-header" id="heading-{{ id }}">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ id }}"
                aria-expanded="false"
                aria-controls="collapse-{{ id }}">
            {{- fields.title.content|striptags|trim -}}
        </button>
    </h3>
    <div id="collapse-{{ id }}"
         class="accordion-collapse collapse"
         aria-labelledby="heading-{{ id }}"
         data-bs-parent="#{{ accordion_id }}">
        <div class="accordion-body">
            <div class="faq-answer">
                {{- fields.field_answer.content -}}
            </div>
            {%- set link_uri = row._entity.field_link.uri -%}
            {%- set link_title = row._entity.field_link.title -%}
            {%- if link_uri and 'internal:' not in link_uri -%}
                <div class="faq-link mt-3">
                    <a href="{{- render_var(file_url(link_uri)) -}}"
                       title="{{- link_title|default('Learn more') -}}"
                       class="btn btn-primary rounded-0">
                        {{- link_title|default('Learn More') -}}
                    </a>
                </div>
            {%- endif -%}
        </div>
        {%- if logged_in and user.hasPermission('edit any faq content') -%}
            <div class="px-4 pb-3 border-top pt-2 mt-2">
                <a href="{{- path('entity.node.edit_form', {'node': row._entity.id()}) -}}"
                   class="btn btn-sm btn-outline-secondary" target="_blank">
                    <i class="fa-solid fa-pencil me-2"></i>Edit
                </a>
            </div>
        {%- endif -%}
    </div>
</div>
{% endapply %}