{#
Accordion Component Template - Refactored
Bootstrap 5 compliant, secure, accessible, and performant.
#}

<div class="accordion" id="accordionCU" role="tablist" aria-multiselectable="true">

    {% for item in items %}
        <div class="accordion-item">

            <h3 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ loop.index }}">

                    {% if item.content['#paragraph'].field_title is not empty %}
                        {{ item.content['#paragraph'].field_title.value }}
                    {% else %}
                        {{ 'No title available'|t }}
                    {% endif %}

                </button>
            </h3>

            <div id="collapse{{ loop.index }}"
                 class="accordion-collapse collapse"
                 aria-labelledby="heading{{ loop.index }}"
                 data-bs-parent="#accordionCU">
                <div class="accordion-body">
                    {% if item.content['#paragraph'].field_body %}
                        {{ item.content['#paragraph'].field_body.processed }}
                    {% else %}
                        <p>{{ 'No content available.'|t }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endfor %}

</div>