{# CU Banner #}

{# Attach the library #}
{{ attach_library('cua_theme/banner') }}

{# Content #}
<div{{ attributes }}>
    <div class="jumbotron jumbotron-fluid banner shadow-lg py-4" {% if content.field_image['#items'].entity.uri.value %} style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center"{% endif %} >
        <div class="container ">
            <div class="row {{ content.field_position_container.0 }}">
                {% set center = (content.field_center_content.0) %}
                {% set color_text = (content.field_text_color.0) %}
                <div class="col-md-5 {{ content.field_color_background.0 }} shadow rounded w-75 my-5 pt-5 p-4">
                    {{ title_prefix }}
                    {% if label %}
                        <h2 class="display 4 {{ center }} {{ color_text }}">{{ label }}</h2>
                    {% endif %}
                    {{ title_suffix }}
                    {% if content.body is not empty %}
                        <div class="lead {{ center }} {{ color_text }}">{{ content.body }}</div>
                    {% endif %}
                    {% if content.field_link[0]['#url'] %}
                        <div class="{{ center }} my-2">
                            <a href="{{ content.field_link[0]['#url'] }}"
                               class="btn {{ content.field_outline.0 }}btn-{{ content.field_button_color.0 }}">
                                {{ content.field_link[0]['#title'] }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>