{#
/**
* @file
* Theme override to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - provider: The module or other provider that provided this block plugin.
*   - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
*   be added to the main container tag of this template.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*/
#}
{# CU Banner #}
{# Attach the library #}
{{ attach_library('cua_theme/banner') }}
{# Set CSS Classes #}
{% set container_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
{# Set background color if true #}
{% set color_background = (content.field_color_background.0) %}
{% if color_background is not empty %}
    {% set background_class = color_background %}
{% endif %}
{# Content #}
<div{{ attributes.addClass('jumbotron jumbotron-fluid banner shadow-lg g-0', background_class ) }}>
    <div class="container-xl" {% if content.field_image['#items'].entity.uri.value %} style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center"{% endif %} >
        <div class="container py-4">
            <div class="row {{ content.field_position_container.0 }}">
                {% set center = (content.field_center_content.0) %}
                {% set color_text = (content.field_text_color.0) %}
                <div class="col-md-5 {{ content.field_color_background.0 }} banner-body shadow rounded my-5 pt-5 p-4">
                    {# Title #}
                    {% if label is not empty %}
                        {{ title_prefix }}
                        {% if label %}
                            <h2 class="display 4 {{ center }} {{ color_text }}">{{ label }}</h2>
                        {% endif %}
                    {% endif %}
                    {{ title_suffix }}
                    {# Body #}
                    {% if content.body is not empty %}
                        <div class="lead {{ center }} {{ color_text }}">{{ content.body }}</div>
                    {% endif %}
                    {# Link #}
                    {% if content.field_link[0]['#url'] is not empty %}
                        <div class="{{ center }} my-2">
                            <a href="{{ content.field_link[0]['#url'] }}"
                               class="btn {{ content.field_outline.0 }}btn-{{ content.field_button_color.0 }}">
                                {{ content.field_link[0]['#title'] }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>