{#
/**
* @file
* Template for the Footer component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}
{# Render content #}
<footer class="site-footer mt-auto">
    {# Site Footer Top Section #}
    <div id="site-footer-top" class="container pt-3">
        {# Check if any footer regions are present #}
        {% if page.footer_second or page.footer_third or page.footer_fourth or page.footer_fifth %}
            <div class="row g-0">

                {# Footer Region 1: University Information #}
                <div class="col-md-4 col-sm-6 px-2">
                    <section class="row region region-footer-first">

                        {# CU Name/Department #}
                        <div class="cua-name-title g-0">
                            <h2 class="g-0 mb-1">{{ 'University of Colorado'|t }}
                                <br>{{ 'CU Advancement | CU Foundation'|t }}
                            </h2>
                        </div>

                        {# Address and Contact Information #}
                        <div class="cua-address g-0 mb-2">
                            <a class="cua-map link-cua g-0 mb-2"
                               aria-label="{{ 'Map to Colorado University System Advancement'|t }}"
                               href="https://maps.app.goo.gl/G3RfovjWdKMCJZw6A">
                                {{ '1800 Grant Street, Suite 215'|t }}<br>
                                {{ 'Denver, CO 80203'|t }}
                            </a>
                        </div>

                        {# Phone Number #}
                        <div class="cua-phone g-0 mb-2">
                            <a class="link-cua" href="tel:+13035411290"
                               itemprop="telephone"
                               aria-label="{{ 'Call +1 303.541.1290'|t }}">{{ '303-541-1290'|t }}</a>
                        </div>

                        {# Email Address #}
                        {% set email = 'giving@cu.edu' %}
                        {% set obfuscatedEmail = email|replace({'@': '&#64;', '.': '&#46;'}) %}
                        <div class="cua-email g-0 mb-2">
                            <a class="link-cua"
                               aria-label="{{ 'email address'|t }}"
                               href="mailto:{{ obfuscatedEmail|raw }}">{{ obfuscatedEmail|raw }}</a>
                        </div>

                        {# Footer Region 5 #}
                        {% if page.footer_fifth %}
                            <div class="make-a-gift g-0 my-3">
                                {{ page.footer_fifth }}
                            </div>
                        {% endif %}

                    </section>
                </div>

                {# Additional Footer Regions #}
                {# Footer Region 2: Displayed as a column on medium and a row on small screens #}
                {% if page.footer_second %}
                    <div class="col-md-3 col-sm-6 mt-2 px-2">
                        {{ page.footer_second }}
                    </div>
                {% endif %}

                {# Footer Region 3: Displayed as a column on medium and a row on small screens #}
                {% if page.footer_third %}
                    <div class="col-md-3 col-sm-6 mt-2 px-2">
                        {{ page.footer_third }}
                    </div>
                {% endif %}

                {# Footer Region 4: Displayed as a column on medium and a row on small screens #}
                {% if page.footer_fourth %}
                    <div class="col-md-2 col-sm-6 mt-2 px-2">
                        {{ page.footer_fourth }}
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </div>

    {# Site Footer Bottom Section #}
    <div id="site-footer-bottom" class="container-fluid bg-pure-black px-5 pb-2">
        <div class="row">

            {# CU Logo #}
            <div class="col-sm-12 mt-4 mb-3 d-flex align-items-center justify-content-center cu-logo-section">
                <a href="{{ url('<front>') }}"
                   rel="{{ 'University of Colorado home'|t }}"
                   class="footer-site-branding__logo">
                    <picture>
                        <source media="(max-width: 499px)"
                                srcset="{{ '/' ~ directory ~ '/images/cua-logo-white-small.png' }}"
                                width=250 height=50.5/>
                        <source media="(min-width: 500px)"
                                srcset="{{ '/' ~ directory ~ '/images/cua-logo-white.png' }}"
                                width=500 height=101.5/>
                        <img src="{{ '/' ~ directory ~ '/images/cua-logo-white.png' }}"
                             alt="{{ 'University of Colorado Logo'|t }}"
                             width=500 height=101.5/>
                    </picture>
                </a>
            </div>

            {# Footer Region 6 #}
            {% if page.footer_sixth %}
                <div class="col-sm-12 d-flex align-items-center justify-content-center">
                    {{ page.footer_sixth }}
                </div>
            {% endif %}

            {# Copyright/Regents Information #}
            <div class="copyright col-sm-12 border-top border-secondary d-flex align-items-center justify-content-center">
                <p class="mt-2 mb-3 strong text-light"
                   aria-label="{{ 'Copyright and University of Colorado Regents website'|t }}">
                    {# Copyright  #}
                    {{ '©'|t }} {{ 'now' | date('Y') }}
                    {# Link to the University of Colorado Regents website #}
                    <a href="https://regents.cu.edu" rel="noopener"
                       target="_blank"
                       class="link-light link-underline-opacity-0 px-2"
                       aria-label="{{ 'Visit the University of Colorado Regents website'|t }}">{{ 'Regents of the University of Colorado'|t }}</a>
                    {# Check if user is logged in #}
                    {% if not logged_in %}
                        {# Admin Login #}
                        <span class="admin-login">
                    <a href="/saml_login?destination=user" rel="noopener"
                       class="link-light link-underline-opacity-0 px-2"
                       aria-label="{{ 'Login'|t }}">
                        <i class="px-2 fas fa-sign-in-alt"></i>{{ 'Login'|t }}
                    </a>
                </span>
                    {% else %}
                        {# Admin Logout #}
                        <span class="user-logged-in">
                        <a href="/user/logout" rel="noopener"
                           class="link-light link-underline-opacity-0 px-2"
                           aria-label="{{ 'Logout'|t }}">
                            <i class="px-2 fas fa-sign-in-alt"></i>{{ 'Logout'|t }}
                        </a>
                    </span>
                    {% endif %}
                </p>
            </div>

        </div>
    </div>
</footer>
