{# Carousel based on Bootstrap 5 #}

{# Attach the library #}
{{ attach_library('cua_theme/slider') }}

{# Add Slider classes #}
{% set slider_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'container',
    'slider',
    'clearfix',
] %}

{# Add unique id to block #}
{% set unique_id = 'block--node-' ~ '-slider' ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Content #}
<div{{ attributes.addClass(slider_classes).setAttribute('id', unique_id) }}>

    {# Include Title #}
    <div class="text-align-center">
        {{ title_prefix ?? '' }}
        <p class="h2 title my-3">{{ label }}</p>
        {{ title_suffix ?? '' }}
    </div>

    <div id="carousel"
         class="carousel slide slide-numbers-{{ visibility_numbers }}"
         data-bs-ride="carousel">

        {# SLider Content  #}
        <div class="carousel-inner text-align-center {% if container_size %}{{ container_size }}-size {% endif %}{% if color_background %}{{ color_background }}-slider {% endif %}{% if text_color %}{{ text_color }}-slider{% endif %}">
            {{ content }}
        </div>

        {# Include Arrows Component #}
        {% if content.field_visibility_arrows['#items'].0.value == 'visible' %}
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">{{ 'Previous'|t }}</span>
            </button>

            <button class="carousel-control-next" type="button"
                    data-bs-target="#carousel" data-bs-slide="next">
				<span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">{{ 'Nex'|t }}t</span>
            </button>
        {% endif %}

    </div>
</div>