{#
/**
 * @file
 * Template for the Slider component.
 */
#}

{{ attach_library('cua_theme/slider') }}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{# Set classes and dynamic IDs #}
{% set slider_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'slider',
    'mx-5 my-1',
    color_background ?: null,
    text_color ?: null,
] %}
{% set block_id = 'block--node--slider--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}
{% set carousel_id = 'carousel-' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

<div{{ attributes.addClass(slider_classes).setAttribute('id', block_id).setAttribute('role', 'region') }}>

    {{ titleMacros.render_title(
        label,
        title_prefix,
        title_suffix
    ) }}

    <div id="{{ carousel_id }}" class="carousel carousel-dark slide" data-bs-ride="carousel">

        {# Inject the carousel_id into the field template via content variable #}
        {% set content_with_id = content|render|replace({'data-bs-target="#carousel"': 'data-bs-target="#' ~ carousel_id ~ '"'}) %}
        {{ content_with_id|raw }}

        {% if content.field_visibility_arrows['#items'].0.value == 'visible' %}
            <button class="carousel-control-prev" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
                <span class="fa-solid fa-circle-left" aria-hidden="true"></span>
                <span class="visually-hidden">{{ 'Previous'|t }}</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
                <span class="fa-solid fa-circle-right" aria-hidden="true"></span>
                <span class="visually-hidden">{{ 'Next'|t }}</span>
            </button>
        {% endif %}
    </div>

</div>