{# Carousel based on Bootstrap 5 #}
{# Attach the library #}
{{ attach_library('cua_theme/slider') }}

{# Add Slider classes #}
{% set slider_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'slider',
    'mx-5 my-1',
    color_background ?: null,
    text_color ?: null,
] %}
{# Add unique id to block #}
{% set unique_id = 'block--node-' ~ '-slider' ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}


{# Add unique id to block #}
{% set carousel_id = 'carousel-' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Content #}
<div{{ attributes.addClass(slider_classes).setAttribute('id', unique_id) }}>

    {# Include Title #}
    {{ title_prefix ?? '' }}
    <p class="text-align-center h2 title">{{ label }}</p>
    {{ title_suffix ?? '' }}

    <div id="{{ carousel_id }}" class="carousel carousel-dark slide slide-numbers-{{ visibility_numbers }}"
         data-bs-ride="carousel">

        {# SLider Content  #}
        <div class="carousel-inner text-align-center">
            {{ content }}
        </div>

        {# Include Arrows Component #}
        {% if content.field_visibility_arrows['#items'].0.value == 'visible' %}
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{{ 'Previous'|t }}</span>
            </button>

            <button class="carousel-control-next" type="button"
                    data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{{ 'Next'|t }}t</span>
            </button>
        {% endif %}

    </div>

</div>

