{#
/**
 * @file
 * Template for the Give Now blocks.
 */
#}

{{ attach_library('cua_theme/call-to-action') }}

{# Import macros for reusable template logic. #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{% set lead_classes = [
	'view',
	'view-' ~ id|clean_class,
	'view-id-' ~ id,
	'view-display-id-' ~ display_id,
	dom_id ? 'js-view-dom-id-' ~ dom_id,
	'give-now-block',
	'card rounded-0',
	'py-3',
] %}

{# Editing tools #}
{% if user.hasPermission('administer site configuration') %}
	<div class="col m-2">
		<a href="/give-now/sort" class="btn btn-primary">Sort and manage give
			now</a>
		<a href="/node/add/gi" class="btn btn-primary">Add new give
			now</a>
	</div>
{% endif %}

{# Render Content #}
{% if content['#view'] is not empty %}
	{% set view = content['#view'] %}
	{% if view.result is not empty %}

		<div class="container-fluid bg-gray-20 py-3">
			<div class="row">
				{% for row in view.result %}
					{% if row._entity is not empty %}
						{% set node = row._entity %}
						{% set background_color = node.field_color_background.value %}

						{# Main cotent wrapper #}
						<div class="give-now-item col-12 col-md-6 col-lg-3">

							{# Block Warpper #}
							<div class="m-2 h-100 {{ shadow }} {{ background_color }}">

								{# Link Wrapper  #}
								<a href="{{ node.field_link.uri ?? '#' }}"
								   class="text-decoration-none"
								   aria-label="Read {{ node.label }}">

									{# Container for image and floating Give Now button #}
									<div class="position-relative">
										{# "Give Now" button positioned at the top-left over the image, 1rem from the top #}
										<div class="position-absolute start-0 p-2 cu-bg-white shadow"
											 style="top: 1rem;">
											<i class="fas fa-gift fa-lg px-1"></i>
											<span class="flag-title">Give Now</span>
										</div>

										{# Render image #}
										{% if node.field_image.entity.uri.value is not empty %}
											<div class="card-header mb-2">
												<img src="{{ file_url(node.field_image.entity.uri.value) }}"
													 alt="{{ node.field_image.alt }}"
													 class="img-fluid">
											</div>
										{% endif %}
									</div>

									<div class="px-3 pt-2">

										{# Render Title #}
										<h3 class="give-now-title display-4 {{ color_text }} mb-2">{{ node.label }}</h3>

										{# Render Body #}
										{% if node.body.value is not empty %}
											<div class="give-now-body {{ color_text }} mb-2">
												<p>{{ node.body.value|raw }}</p>
											</div>
										{% endif %}

										{# Render Link #}
										<div class="card-footer card-story d-flex p-0 mb-5">
                                    <span class="card-link btn {{ background_color }} text-decoration-none p-2 mt-3 {{ color_text }}">
                                        {% if node.field_link.title is not empty %}
											{{ node.field_link.title }}
										{% else %}
											{{ node.label }}
										{% endif %}
                                    </span>
										</div>

									</div>

								</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% else %}
		<p class="no-content-message text-black">No content available.</p>
	{% endif %}
{% else %}
	<p class="no-view-message text-black">View data not available.</p>
{% endif %}
