{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Render content #}
<header id="header" class="header" role="banner"
        aria-label="{{ 'Site header'|t }}">
    <div class="container">
        <div class="row clearfix g-0">
            <div class="col-md-6 g-0">

                {# Top Header Navigation #}
                <nav class="navbar l-header-top navbar-light navbar-expand-lg bg-white"
                     id="navbar-top">
                    <div class="container-fluid site-name-logo mt-3 mb-3 g-0">
                        <div class="container d-flex g-0 px-2">

                            {# CU Logos #}
                            <div class="flex-shrink-1">
                                {# Logo for larger screens #}
                                <a href="{{ url('<front>') }}"
                                   rel="University of Colorado home"
                                   class="site-branding__logo d-none d-lg-block">
                                    <img src="/{{ directory ~ '/logo.svg' }}"
                                         alt="{{ 'cu.edu'|t }}" width="225"
                                         height="auto"/>
                                </a>
                                {# Logo for smaller screens #}
                                <a href="{{ url('<front>') }}"
                                   title="University of Colorado home"
                                   rel="University of Colorado home"
                                   class="d-lg-none">
                                    <img src="/{{ directory ~ '/cu-mobile-logo.svg' }}"
                                         alt="University of Colorado home"
                                         width="29" height="28">
                                </a>
                            </div>

                            {# Site name for all screens #}
                            {% if site_slogan %}
                                <div class="w-100 align-items-baseline">
                                    <a href="{{ url('<front>') }}"
                                       title="{{ site_slogan }}" rel="home"
                                       class="site-branding__name site-name">
                                        {{ site_slogan }}
                                    </a>
                                </div>
                            {% endif %}

                            {# Navigation toggle button for smaller screens #}
                            <button class="navbar-toggler collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#mainNavbrSupportedContent"
                                    aria-controls="CollapsingNavbar"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                        </div>
                    </div>
                </nav>
            </div>

            {# Display the primary menu provided by Drupal / desktop  #}
            {% if page.secondary_menu %}
                <div id="secondary-menu" class="col-md-5 g-0 d-none d-lg-block">
                    <div class="d-flex justify-content-end">
                        {{ page.secondary_menu }}
                    </div>
                </div>
            {% endif %}

            {# Search bar for larger screens if provided in the page #}
            {% if page.search %}
                <div class="col-md-1 d-flex justify-content-end g-0 d-none d-lg-block">
                    <p class="search-button">
                        <button id="search-icon" class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#CollapseSearch" aria-expanded="false" aria-controls="CollapseSearch">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </p>
                </div>
            {% endif %}

        </div>
    </div>

    {# Site Slogan Section #}
    {% if site_name %}
        <div class="container-fluid site-name-wrapper g-0">
            <div class="container px-3 my-2">
                <div class="collapse" id="CollapseSearch" data-bs-parent=".site-name-wrapper" aria-labelledby="search-icon">
                    <div class="cua-search">
                        {{ page.search }}
                    </div>
                </div>
                <h1 class="site-slogan">
                    <a href="{{ url('<front>') }}" title="{{ site_name }}"
                       class="site-link"
                       rel="home">
                        <span>{{ site_name }}</span>
                    </a>
                </h1>
            </div>
        </div>
    {% endif %}

    {# Main Navigation Section #}
    {% if page.primary_menu or page.search %}
        <nav role="navigation"
             class="navbar l-header-bottom navbar-expand-lg"
             id="navbar-main" aria-labelledby="cua-main-menu">
            <div class="container my-2">
                <div class="collapse navbar-collapse"
                     id="mainNavbrSupportedContent">
                    <h2 class="visually-hidden"
                        id="cua-main-menu">{{ 'Main navigation'|t }}</h2>

                    {# Display the primary menu provided by Drupal #}
                    {% if page.primary_menu %}
                        {{ page.primary_menu }}
                    {% endif %}

                    {# Display the primary menu provided by Drupal / desktop  #}
                    {% if page.secondary_menu %}
                        <div id="secondary-menu" class="d-lg-none">
                            <div class="d-flex justify-content-start">
                                {{ page.secondary_menu }}
                            </div>
                        </div>
                    {% endif %}

                    {# Search bar for smaller screens if provided in the page #}
                    {% if page.search %}
                        <div class="my-3 mx-4 d-lg-none">{{ page.search }}</div>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endif %}

</header>
