{# Haader #}

{# add library #}
{{ attach_library('cua_theme/header') }}

{# render content #}
<header id="header" class="header" role="banner"
        aria-label="{{ 'Site header'|t }}">
    <div class="container">
        <div class="row clearfix g-0">
            <div class="col-md-8 g-0">
                <nav class="navbar l-header-top navbar-light navbar-expand-lg bg-white"
                     id="navbar-top">
                    <div class="container-fluid site-name-logo mt-3 mb-3 g-0">
                        <div class="container d-flex">
                            <div class="flex-shrink-1">
                                <a href="{{ path('<front>') }}"
                                   rel="University of Colorado home"
                                   class="site-branding__logo d-none d-lg-block">
                                    <img src="/{{ directory ~ '/logo.svg' }}"
                                         alt="{{ 'cu.edu'|t }}" width="225" height="auto"/>
                                </a>
                                <a href="{{ path('<front>') }}" title="University of Colorado home"
                                   rel="University of Colorado home"
                                   class="d-lg-none">
                                    <img src="/{{ directory ~ '/cu-mobile-logo.svg' }}"
                                         alt="University of Colorado home" width="29" height="28">
                                </a>
                            </div>
                            <div class="w-100 align-items-baseline">
                                <a href="{{ path('<front>') }}"
                                   title="CU Advancement | CU Foundation Home"
                                   rel="home"
                                   class="site-branding__name site-name">
                                    {{ site_name }}
                                </a>
                            </div>
                            <button class="navbar-toggler collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#mainNavbrSupportedContent"
                                    aria-controls="CollapsingNavbar"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-4 d-flex justify-content-end g-0 d-none d-lg-block">
                {% if page.search %}
                    {{ page.search }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid site-name-wrapper g-0">
        <div class="container px-4">
            <h1 class="site-slogan">
                <a href="{{ path('<front>') }}" title="Home" class="site-link" rel="home">
                    <span>{{ site_slogan }}</span></a>
            </h1>
        </div>
    </div>
    <nav role="navigation"
         class="navbar l-header-bottom navbar-expand-lg"
         id="navbar-main" aria-labelledby="cua-main-menu">
        <div class="container">
            <div class="collapse navbar-collapse"
                 id="mainNavbrSupportedContent">
                <h2 class="visually-hidden"
                    id="cua-main-menu">{{ 'Main navigation'|t }}</h2>
                {{ page.primary_menu }}
                <div class="my-3 mx-4 d-lg-none">
                    {% if page.search %}
                        {{ page.search }}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>