{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Add optional classes based on conditions #}
{% set color_background = color_background ?? '' %}
{% set color_border = color_border ?? '' %}
{% set container_size = container_size ?? '' %}
{% set margins = margins ?? '' %}
{% set padding = padding ?? '' %}
{% set page_title_visibility = page_title_visibility ?? '' %}
{% set text_alignment = text_alignment ?? '' %}
{% set text_color = text_color ?? '' %}

{# Set data attributes for animation #}
{% set animation_classes = [] %}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = (animation or animation_speed or animation_delay) ? ['animate__animated', animation, animation_speed, animation_delay] : [] %}
{% endif %}
{% set data_animation_classes = animation_classes | join(' ') | trim %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}

{# Add CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    animate_trigger,
    color_background,
    color_border,
    container_size,
    padding,
    text_alignment,
] %}

{# Generate unique ID #}
{% set unique_id = 'block--node-' ~ '-call-to-action' ~ node.id() ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Content #}
{# If container size is active #}
{% if text_alignment is not empty %}
<div class="{{ text_alignment }} g-0 h-100">
    {% endif %}
    {% if margins is not empty %}
    <div class="{{ margins }} g-0">
        {% endif %}
        <div{{ attributes.addClass(cta_classes).setAttribute('id', unique_id) }}>
            {# Include Video Component  #}
            {% if provider is not empty %}
                {% include '@cua_theme/component/video/include/_video--master.html.twig' %}
                {# Include Image Component #}
            {% elseif card_image is not empty %}
                {% if links|length > 0 %}
                    {# Render only the first link if active #}
                    {% set firstLink = links[0] %}
                    <a class="img-hover-effect" href="{{ firstLink.url }}" title="{{ firstLink.title }}"
                    aria-label="{{ firstLink.title }}">
                {% endif %}
                {# Include image with a null alt attribute #}
                {% include '@cua_theme/component/card/_card--image.html.twig' with {'alt': ''} %}
                {% if links|length > 0 %}
                    {% set firstLink = links[0] %}
                    </a>
                {% endif %}
                {# Include Icon Component #}
            {% elseif icon is not empty %}
                {% include '@cua_theme/component/card/_card--icon.html.twig' %}
            {% endif %}
            {# Include Title #}
            {{ title_prefix ?? '' }}
            <div class="display-4 card-text lead h3 title {{ [
                center_content is not empty ? ' ' ~ center_content,
                text_alignment is not empty ? ' ' ~ text_alignment,
                text_color is not empty ? ' ' ~ text_color,
                padding is not empty ? ' ' ~ padding,
            ]|join }}">
                {{ label }}
            </div>
            {{ title_suffix ?? '' }}
            {# Include Body #}
            {% include '@cua_theme/component/body/_body.html.twig' %}
            {# Include Lik #}
            {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
        </div>
        {% if margins is not empty %}
    </div>
    {% endif %}
    {% if text_alignment is not empty %}
</div>
{% endif %}
