{# Attach the library #}
{{ attach_library('cua_theme/call-to-action') }}

{# Import macros #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{# Define CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    animate_trigger,
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    padding ?: null,
    margin ?: null,
    shadow ?: null,
    (animation or animation_speed or animation_delay) ? 'animate-trigger' : null,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Set data attributes for animation #}
{% set data_animation_classes = [
    'animate__animated',
    animation,
    animation_speed,
    animation_delay
] | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--call-to-action--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# Check for single link #}
{% set single_link = links|length == 1 ? links|first : null %}

{# Start Wrapper #}
{% if single_link %}
<a href="{{ single_link.url ?: '#' }}"
   title="{{ single_link.title ?: '' }}"
   class="cta-link"
   {% if single_link.title %}aria-label="{{ single_link.title }}"{% endif %}>
    {% endif %}

    <div{{ attributes|without('id').setAttribute('id', unique_id).addClass(cta_classes) }}
            {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>

        {# Render Flag #}
        {% if flag %}
            {% import '@cua_theme/component/macros/card_flag.html.twig' as flagMacros %}
            {{ flagMacros.render_flag(
                flag,
                flag_title,
                icon,
                icon_size,
                flag_background
            ) }}
        {% endif %}

        {# Render Image or Icon #}
        {% if provider %}
            {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
        {% elseif card_image %}
            {% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
            {{ cardImageMacros.render_card_image(
                card_image,
                position_container,
                text_alignment,
                text_color,
                image_size,
                visibility,
                content,
                true
            ) }}
        {% elseif icon %}
            {% import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros %}
            {{ iconMacros.render_icon(
                icon,
                icon_size,
                icon_color,
                padding,
                position_container,
                text_alignment
            ) }}
        {% endif %}

        {# Render Caption #}
        {% if caption %}
            {% import '@cua_theme/component/macros/card_caption.html.twig' as captionMacros %}
            {{ captionMacros.render_caption(
                caption,
                padding,
                text_color,
                text_alignment
            ) }}
        {% endif %}

        {# Must always render Title #}
        {{ titleMacros.render_title(
            label,
            title_prefix,
            title_suffix,
            center_content,
            text_alignment,
            text_color,
            padding
        ) }}

        {# Render Content #}
        {% if content %}
            {% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
            {{ bodyMacros.render_body(
                content,
                padding,
                text_color,
                text_alignment
            ) }}
        {% endif %}

        {# Render Footer #}
        {# Check if the card has a single wrapper link #}
        {% set is_wrapper_link = links|length == 1 %}

        {# Render Footer #}
        {% if links %}
            {% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}
            {{ cardFooterMacros.render_card_footer(
                links,
                container_size,
                color_background,
                position_container,
                text_alignment,
                padding,
                outline,
                button_color,
                button_layout,
                false,
                true
            ) }}
        {% endif %}

    </div>

    {% if single_link %}
</a>
{% endif %}