{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
#}

{# Attach the library #}
{{ attach_library('cua_theme/call-to-action') }}

{# Import macros #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{# Define CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'call-to-action',
    'card rounded-0',
    'h-100',
    animate_trigger,
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    padding ?: null,
    margin ?: null,
    shadow ?: null,
    (animation or animation_speed or animation_delay) ? 'animate-trigger' : null,
    id ? 'block--class--call-to-action' ~ id|replace({'-': '-'})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Set data attributes for animation #}
{% set data_animation_classes = [
    'animate__animated',
    animation ?: null,
    animation_speed ?: null,
    animation_delay ?: null,
] | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--call-to-action--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(cta_classes).setAttribute('role', 'region').setAttribute('data-animation-classes', data_animation_classes ?: null) }}>

    {# Check for single link #}
    {% set single_link = links|length == 1 ? links|first : null %}

    {# Open the link tag if single_link exists #}
    {% if single_link %}

    {# Visually Hidden Title for Screen Readers (at the top) #}
    <h3 class="sr-only">{{ label }}</h3>

    <a href="{{ single_link.url ?: '#' }}"
       class="cta-link"
       {% if single_link.title %}aria-label="{{ single_link.title }}"{% endif %}>
        {% endif %}

        {# Render Flag #}
        {% if flag %}
            {% import '@cua_theme/component/macros/card_flag.html.twig' as flagMacros %}
            {{ flagMacros.render_flag(
                flag,
                flag_title,
                icon,
                icon_size,
                flag_background
            ) }}
        {% endif %}

        {# Render Image or Icon #}
        {% if provider %}
            {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
        {% elseif card_image %}
            {% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
            {{ cardImageMacros.render_card_image(
                card_image,
                position_container,
                text_alignment,
                text_color,
                image_size,
                visibility,
                content,
                true
            ) }}
        {% elseif icon %}
            {% import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros %}
            {{ iconMacros.render_icon(
                icon,
                icon_size,
                icon_color,
                padding,
                position_container,
                text_alignment
            ) }}
        {% endif %}

        {# Render Caption #}
        {% if caption %}
            {% import '@cua_theme/component/macros/card_caption.html.twig' as captionMacros %}
            {{ captionMacros.render_caption(
                caption,
                padding,
                text_color,
                text_alignment
            ) }}
        {% endif %}

        {# Render Title (Wrapped in H3) #}
        {{ titleMacros.render_title(
            label,
            title_prefix,
            title_suffix,
            center_content,
            text_alignment,
            text_color,
            padding
        ) }}

        {# Render Content #}
        {% if content %}
            {% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
            {{ bodyMacros.render_body(
                content,
                padding,
                text_color,
                text_alignment
            ) }}
        {% endif %}

        {# Render Footer #}
        {% if links %}
            {% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}
            {{ cardFooterMacros.render_card_footer(
                links,
                container_size,
                color_background,
                position_container,
                text_alignment,
                padding,
                outline,
                button_color,
                button_layout,
                false,
                single_link ? true : false
            ) }}
        {% endif %}

        {# Close the link tag if single_link exists #}
        {% if single_link %}
    </a>
    {% endif %}

</div>