{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Import macros #}
{% import '@cua_theme/component/macros/card_flag.html.twig' as flagMacros %}
{% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
{% import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros %}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}
{% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
{% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}

{# Attach the library #}
{{ attach_library('cua_theme/call-to-action') }}

{# Define CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    animate_trigger,
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    padding ?: null,
    margin ?: null,
    shadow ?: null,
    text_alignment ?: null,
    (animation or animation_speed or animation_delay) ? 'animate-trigger' : null,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Set data attributes for animation #}
{% set data_animation_classes = [
    'animate__animated',
    animation,
    animation_speed,
    animation_delay
] | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--call-to-action--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# Content #}
{% if margins %}
<div class="{{ margins }} h-100">
    {% endif %}
    <div{{ attributes|without('id').setAttribute('id', unique_id).addClass(cta_classes) }}
            {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>

        {# Render the flag #}
        {{ flagMacros.render_flag (
            flag,
            flag_title,
            icon,
            icon_size,
            flag_background,
            links
        ) }}

        {# Include Video, Image, or Icon Component #}
        {% if provider %}
            {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
        {% elseif card_image %}
            {{ cardImageMacros.render_card_image (
                card_image,
                position_container,
                text_alignment,
                text_color,
                image_size,
                visibility,
                content,
                links
            ) }}
        {% elseif icon %}
            {{ iconMacros.render_icon (
                icon,
                icon_size,
                icon_color,
                padding,
                position_container,
                text_alignment
            ) }}
        {% endif %}

        {# Render the title #}
        {{ titleMacros.render_title (
            label,
            title_prefix,
            title_suffix,
            center_content,
            text_alignment,
            text_color,
            padding,
            links
        ) }}

        {# Render the body #}
        {{ bodyMacros.render_body (
            content,
            padding,
            text_color,
            text_alignment
        ) }}

        {# Render the footer #}
        {{ cardFooterMacros.render_card_footer (
            links,
            container_size,
            color_background,
            position_container,
            text_alignment,
            padding,
            outline,
            button_color
        ) }}

    </div>
    {% if margins %}
</div>
{% endif %}