{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Attach the library #}
{{ attach_library('cua_theme/call-to-action') }}

{# Set data attributes for animation #}
{% set animation_classes = [] %}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = (animation or animation_speed or animation_delay) ? ['animate__animated', animation, animation_speed, animation_delay] : [] %}
{% endif %}
{% set data_animation_classes = animation_classes | join(' ')|trim %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}

{# Define CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    animate_trigger,
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    padding ?: null,
    shadow ?: null,
    text_alignment ?: null,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Define CTA link classes #}
{% set cta_link_classes = [
    'display-4 card-text lead title h3',
    center_content ?: null,
    text_alignment ?: null,
    text_color ?: null,
    padding ?: null,
] | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--call-to-action--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(cta_classes) }} {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>


    {# Flag #}
    {% if flag == 'flag_on' %}
        {% if links %}
            {% set firstLink = links[0] %}
            <a class="flag-link" href="{{ firstLink.url }}"
            title="{{ firstLink.title }}"
            aria-label="{{ firstLink.title }}" aria-hidden="true">
        {% endif %}
        <div class="flag {{ flag_background ?: '' }} py-2">
            {% if icon %}
                <i class="{{ icon ?: '' }} {{ icon_size ?: '' }} px-1"></i>
            {% endif %}
            {{ flag_title ?: '' }}
        </div>
        {% if links %}
            </a>
        {% endif %}
    {% endif %}

    {# Include Video, Image, or Icon Component #}
    {% if provider %}
        {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
    {% elseif card_image %}
        {% if links %}
            {% set firstLink = links[0] %}
            <a class="img-hover-effect" href="{{ firstLink.url }}"
               title="{{ firstLink.title }}" aria-label="{{ firstLink.title }}"
               aria-hidden="true">
                {% include '@cua_theme/component/card/_card--image.html.twig' %}
            </a>
        {% else %}
            {% include '@cua_theme/component/card/_card--image.html.twig' %}
        {% endif %}
    {% elseif icon %}
        {% include '@cua_theme/component/card/_card--icon.html.twig' %}
    {% endif %}

    {# Include Title #}
    {{ title_prefix ?: '' }}
    {% if links %}
        {% set firstLink = links[0] %}
        <a class="{{ cta_link_classes }}" href="{{ firstLink.url }}"
           title="{{ firstLink.title }}"
           aria-label="{{ firstLink.title }}" aria-hidden="true">
            {{ label }}
        </a>
    {% else %}
        <div class="{{ cta_link_classes }}">
            {{ label }}
        </div>
    {% endif %}
    {{ title_suffix ?: '' }}

    {# Include Body Component #}
    {% include '@cua_theme/component/partials/_body.html.twig' %}

    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

</div>