{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Add optional classes based on conditions #}
{% set color_background = color_background ?? '' %}
{% set color_border = color_border ?? '' %}
{% set container_size = container_size ?? '' %}
{% set flag = flag %}
{% set flag_title = flag_title ?? '' %}
{% set flag_background = flag_background ?? ''%}
{% set padding = padding ?? '' %}
{% set page_title_visibility = page_title_visibility ?? '' %}
{% set shadow = shadow ?? '' %}
{% set text_alignment = text_alignment ?? '' %}
{% set text_color = text_color ?? '' %}

{# Set data attributes for animation #}
{% set animation_classes = [] %}
{% if animation or animation_speed or animation_delay %}
    {% set animation_classes = (animation or animation_speed or animation_delay) ? ['animate__animated', animation, animation_speed, animation_delay] : [] %}
{% endif %}
{% set data_animation_classes = animation_classes | join(' ') | trim %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}

{# Add CTA classes #}
{% set cta_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'call-to-action',
    'card rounded-0 h-100',
    animate_trigger,
    color_background,
    color_border,
    container_size,
    padding,
    shadow,
    text_alignment,
] %}

{# Content #}

{# Generate unique ID #}
{% set unique_id = 'block--node-' ~ '-call-to-action' ~ node.id() ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(cta_classes) }}
        {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>

    {# Flag #}
    {% if flag == 'flag_on' %}
        <div class="flag {{ flag_background }} pt-2">
            {% if icon is not empty %}
                <i class="{{ icon ~ ' ' ~ icon_size }} px-1"></i>
            {% endif %}
            {{ flag_title }}
        </div>
    {% endif %}

    {# Include Video Component  #}
    {% if provider is not empty %}
        {% include '@cua_theme/component/video/include/_video--master.html.twig' %}

        {# Include Image Component #}
    {% elseif card_image is not empty %}

        {# Render only the first link if active #}
        {% if links|length > 0 %}
            {% set firstLink = links[0] %}
            <a class="img-hover-effect" href="{{ firstLink.url }}" title="{{ firstLink.title }}" aria-label="{{ firstLink.title }}" aria-hidden="true">
            <img src="{{ firstLink.image_url }}" alt="{{ firstLink.image_alt }}">
        {% endif %}

        {# Include image with a null alt attribute #}
        {% include '@cua_theme/component/card/_card--image.html.twig' %}

        {% if links|length > 0 %}
            {% set firstLink = links[0] %}
            </a>
        {% endif %}

        {# Include Icon Component #}
    {% elseif icon is not empty %}
        {% include '@cua_theme/component/card/_card--icon.html.twig' %}
    {% endif %}

    {# Include Title #}
    {{ title_prefix ?? '' }}
    {% if links is not empty and links|length > 0 %}
        {% set firstLink = links[0] %}
        <a class="display-4 card-text lead title h3 px-3 {{ [
            center_content is not empty ? ' ' ~ center_content,
            text_alignment is not empty ? ' ' ~ text_alignment,
            text_color is not empty ? ' ' ~ text_color,
            padding is not empty ? ' ' ~ padding,
        ]|join }}" href="{{ firstLink.url }}" title="{{ firstLink.title }}"
           aria-label="{{ firstLink.title }}" aria-hidden="true">
            {{ label }}
        </a>
    {% else %}
        <div class="display-4 card-text lead h3 title px-3 {{ [
            center_content is not empty ? ' ' ~ center_content,
            text_alignment is not empty ? ' ' ~ text_alignment,
            text_color is not empty ? ' ' ~ text_color,
            padding is not empty ? ' ' ~ padding,
        ]|join }}">
            {{ label }}
        </div>
    {% endif %}
    {{ title_suffix ?? '' }}

    {# Include Body Component #}
    {% include '@cua_theme/component/body/_body.html.twig' %}
    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

</div>