{#
/**
* @file
* Theme override to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
*   - label: The configured label for the block.
*   - label_display: The display settings for the label.
*   - provider: The module or other provider that provided this block plugin.
*   - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
*   be added to the main container tag of this template.
*   - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
*   tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*/
#}
{# Attach the library #}
{{ attach_library('cua_theme/half-and-half') }}
{# Set CSS Classes #}
{% set container_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
{# Set background color if true #}
{% set color_background = (content.field_color_background.0) %}
{% if color_background is not empty %}
    {% set background_class = color_background %}
{% endif %}
{# Content #}
<div{{ attributes.addClass(container_classes, 'half-and-half d-flex clearfix container-fluid card', background_class ) }}>
    <div class="container g-0 my-0 py-0">
        <div class="row">
            <div class="col-md-6 col-sm-12 {{ content.field_image_aligment.0 }} {{ content.field_padding.0 }} {{ content.field_border_style.0 }} g-0">
                {% set link_url = file_url(content.field_link.0['#url']|render) %}
                {% if link_url is not empty %}
                    <a href="{{ link_url }}">
                        <div role="img" class="hh-img {{ content.field_image_size.0 }} img-hover-effect"
                             aria-label="{{ content.field_image.0['#item'].alt }}">
                            {{ content.field_image.0 }}
                        </div>
                    </a>
                {% else %}
                    <div role="img" class="hh-img" aria-label="{{ content.field_image.0['#item'].alt }}">
                        {{ content.field_image.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12 text-{{ content.field_color_background.0 }} {{ content.field_text_alignment.0 }}  {{ content.field_border_style.0 }}  g-0">
                <div class="p-5">
                    {{ title_prefix }}
                    {% if label %}
                        <h3 class="{{ content.field_text_alignment.0 }} mb-2">{{ label }}</h3>
                    {% endif %}
                    {{ title_suffix }}
                    {% if content.body %}
                        {{ content.body }}
                    {% else %}
                    {% endif %}
                    {% set link_title = (content.field_link.0['#title']|render) %}
                    {% set link_url = file_url(content.field_link.0['#url']|render) %}
                    {% if link_title %}
                        <div class="card-footer {{ content.field_text_alignment.0 }} g-0 mt-2 p-0">
                            <a class="btn {{ content.field_outline.0 }}btn-{{ content.field_color_background.0 }} text-decoration-none rounded p-2"
                               title="{{ link_title }}"
                               aria-label="{{ link_title }}"
                               href="{{ link_url }}">{{ link_title }}</a>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>