{# body content #}
<div class="card-body text-{{ content.field_color_background.0 }} mt-1">
    {# title #}
    {{ title_prefix }}
    {% if label %}
        <h3 class="{{ content.field_image_size.0 }} {{ content.field_text_alignment.0 }} px-0 pb-3">
            {{ label }}
        </h3>
    {% endif %}
    {{ title_suffix }}
    {# body #}
    {% if content.body %}
        {{ content.body }}
    {% endif %}
    {# link #}
    {% if content.field_link.0 is not empty %}
        <div class="card-footer {{ content.field_text_alignment.0 }} g-0 mt-1 px-0">
            <a class="btn {{ content.field_outline.0 }}btn-{{ content.field_color_background.0 }} text-decoration-none rounded p-2"
               title="{{ content.field_link.0['#title'] }}"
               aria-label="{{ content.field_link.0['#title'] }}"
               href="{{ content.field_link.0['#url'] }}">{{ content.field_link.0['#title'] }}</a>
        </div>
    {% else %}
    {% endif %}
</div>