{#
/**
 * @file
 * Template for rendering a button-style block component.
 *
 * This block uses Bootstrap 5 and custom macros to render a flexible,
 * styled button card with optional title, body, and footer links.
 *
 * Documentation:
 * - Bootstrap 5: https://getbootstrap.com/docs/5.3
 * - Utility Classes: https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css
 */
#}

{# Import required macros for title, body, and footer rendering #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}
{% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
{% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}

{# Attach any required libraries #}
{{ attach_library('cua_theme/call-to-action') }}

{# Construct dynamic classes for the button/card block wrapper #}
{% set button_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'button card',
    color_border ?: null,
    text_alignment ?: null,
    text_color ?: null,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class : null,
]|merge(utility_classes ?: [])|filter(v => v)|join(' ') %}

{# Generate a unique ID for this block instance to support accessibility #}
{% set unique_id = 'block--node--button--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# Begin block markup #}
<div{{ attributes
|without('id')
    .setAttribute('id', unique_id)
    .addClass(button_classes)
    .setAttribute('role', 'region')
}}>

    {# Render the title using the title macro #}
    {{ titleMacros.render_title(
        label,
        title_prefix,
        title_suffix,
        center_content,
        text_alignment,
        text_color,
        padding,
        links
    ) }}

    {# Render the main body content if available #}
    {% if content %}
        {{ bodyMacros.render_body(
            content,
            padding,
            text_color,
            text_alignment
        ) }}
    {% endif %}

    {# Render footer links using macro only if links are passed in #}
    {% if links is defined and links|length > 0 %}
        {{ cardFooterMacros.render_card_footer(
            links,
            container_size,
            color_background,
            position_container,
            text_alignment,
            padding,
            outline,
            button_color,
            false,
            false,
            'Related links'
        ) }}
    {% endif %}

</div>