{#
/**
 * @file
 * Template for the Button component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 */
#}

{# Import macros #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{# Attach the library #}
{{ attach_library('cua_theme/call-to-action') }}

{# Define button classes #}
{% set button_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'button card',
    color_border ?: null,
    text_alignment ?: null,
    text_color ?: null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Define dynamic classes for the footer container. #}
{% set card_footer_classes = [
    'card-footer',
    'd-flex',
    multiple_links ? 'multiple-links' : '',
    container_size,
    position_container,
    text_alignment,
    padding,
    'mb-5',
    'me-3',
] | filter(v => v) | join(' ') %}

{# Define dynamic classes for the footer links. #}
{% set outline_class = outline ? outline ~ 'btn-' ~ button_color : 'btn-' ~ button_color %}
{% set card_footer_link_classes = [
    'card-link',
    'btn',
    outline_class,
    'text-decoration-none',
    position_container,
    text_alignment,
    'p-2',
    'mt-3',
    'me-2',
] | filter(v => v) | join(' ') %}

{# Generate unique ID for block and heading #}
{% set unique_id = 'block--node-' ~ '-button' ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}
{% set heading_id = unique_id ~ '-title' %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(button_classes).setAttribute('role', 'region').setAttribute('aria-labelledby', heading_id) }}>

    {# Render the title and assign an ID for aria-labelledby #}
    <h2 id="{{ heading_id }}">
        {{ titleMacros.render_title(
            label,
            title_prefix,
            title_suffix,
            center_content,
            text_alignment,
            text_color,
            padding,
            links
        ) }}
    </h2>

    {# Render Body #}
    {% if content %}
        {% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
        {{ bodyMacros.render_body (
            content,
            padding,
            text_color,
            text_alignment
        ) }}
    {% endif %}

    {# Render Footer with links #}
    <div class="{{ card_footer_classes }}"
            {% if multiple_links %}
        role="group" aria-label="{{ custom_label ?: 'Related links' }}"
            {% endif %}>

        {# Render each link in the footer. Handle single and multiple links. #}
        {% for link in links %}
            {% if is_single_link %}
                {# Render single link (non-clickable text wrapping the card). #}
                <span class="{{ card_footer_link_classes }}" aria-label="{{ link.title }}">{{ link.title }}</span>
            {% else %}
                {# Render multiple links as clickable anchors. #}
                <a href="{{ link.url }}"
                   class="{{ card_footer_link_classes }}"
                   role="link"
                        {% if hide_from_screen_readers %} aria-hidden="true" {% endif %}
                   aria-label="{{ link.title }}">
                    {{ link.title }}
                </a>
            {% endif %}
        {% endfor %}
    </div>

</div>