{# ## Card link ## #}
{% if link_title is not empty %}
    <div class="card-footer {{ text_alignment ~ ' ' ~ position_container }} px-4 pb-4 mb-3">
        <a href="{{ link_url }}"
           title="{{ link_title }}"
           aria-label="{{ link_title }}"
           class="card-link btn {{ outline }}btn-{{ button_color }} text-decoration-none rounded p-2">
            {{ link_title }}
        </a>
    </div>
{% endif %}
