{# If link btn is present, render the following HTML block #}
{% if link_title is not empty %}
    <div class="card-footer {{ center_content ~ ' ' ~ text_alignment ~ ' ' ~ padding }} mb-5">
        <a href="{{ link_url }}"
           title="{{ link_title }}"
           aria-label="{{ link_title }}"
           class="align-self-end card-link btn {{ outline }}btn-{{ button_color }} text-decoration-none p-2">
            {% if label is not empty and (link_title == 'Learn More' or link_title == 'Read More') %}
                {{ title_prefix }}
                <span>{{ link_title|title }}
                    <span class="visually-hidden">{{ ' ' ~  'About'|t ~ ' ' ~ label|title }}</span>
                 </span>
                {{ title_suffix }}
            {% elseif  link_title %}
                {{ link_title|title }}
            {% else %}
            {% endif %}
        </a>
    </div>
{% endif %