{# Card Image #}

{# If active render #}
{% if card_image is not empty %}

    {# Set card image classes #}
    {% set card_image_classes = [
        'card-header',
        position_container is not empty ? 'd-flex' ~ ' ' ~ position_container : '',
        text_alignment is not empty ? text_alignment : '',
        text_color is not empty ? text_color : '',
        'g-0',
    ] | join(' ')|trim %}

    {# Set presentation classes based on conditions #}
    {% set presentation_classes = [
        'card-img',
        image_size is not empty ? image_size : '',
        link_title is not empty ? 'img-hover-effect' : '',
    ] | join(' ')|trim %}

    {# Content #}

    {# Render link wrapper if active #}
    {% if link_title is not empty %}
        {% set aria_label = link_title is not empty ? (label is not empty and link_title in ['Learn More', 'Read More', 'More Information'] ? link_title|title ~ ' About ' ~ label|title : link_title) : '' %}
        <a href="{{ link_url }}" title="{{ aria_label }}" aria-label="{{ aria_label }}">
    {% endif %}

    {# Card Image #}
    <div class="{{ card_image_classes }}">
        <div role="presentation" class="{{ presentation_classes }}">

            {# Card Image #}
            {{ card_image }}

            {# Card Image Caption #}
            {% if content.field_image is not empty %}
                {% for item in content.field_image %}
                    {% if item['#item'].alt is not empty %}
                        <figcaption class="{{ visibility }}">
                            <p class="{{ 'figcaption ' ~ card_image_classes }}">{{ item['#item'].alt }}</p>
                        </figcaption>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>
    </div>

    {# Link wrapper if active #}
    {% if link_title is not empty %}
        </a>
    {% endif %}

{% endif %}
