{# Card Footer Button #}
{% if link_title is not empty %}

    {# Set card footer classes #}
    {% set card_footer_classes = [
        'card-footer d-flex',
        'mb-5',
        color_background,
        text_alignment,
    ] | join(' ')|trim %}

    {# Set card footer link classes #}
    {% set card_footer_link_classes = [
        'align-self-end',
        'card-link',
        'btn',
        (outline is not empty) ? (outline ~ 'btn-' ~ button_color) : null,
        (outline is empty) ? ('btn-' ~ button_color) : null,
        'text-decoration-none',
        'p-2 mt-2'
    ] | join(' ')|trim %}

    {# Add optional variables based on conditions #}
    {% set aria_label = link_title is not empty ? (label is not empty and link_title in ['Learn More', 'Read More', 'More Information'] ? link_title|title ~ ' About ' ~ label|title : link_title) : '' %}

    <div class="{{ card_footer_classes }}">
        <a href="{{ link_url }}" title="{{ aria_label }}"
           aria-label="{{ aria_label }}"
           class="{{ card_footer_link_classes }}">
            {{ aria_label }}
        </a>
    </div>

{% endif %}

