{# ## Card link ## #}
{% if link_title is not empty %}
    <div class="card-footer {{ text_alignment ~ ' ' ~ position_container }} px-4 pb-4 mb-3">
        <a class="card-link btn {{ outline }}btn-{{ button_color }} text-decoration-none rounded p-2"
           title="{{ link_title }}"
           aria-label="{{ link_title }}"
           href="{{ link_url }}">{{ link_title }}</a>
    </div>
{% else %}
    {# empty #}
{% endif %}