{# Card Footer Button #}
{% if links is not empty %}

    {# Determine if multiple links exist #}
    {% set multiple_links = links|length > 1 %}

    {# Set card footer classes #}
    {% set card_footer_classes = [
        'card-footer',
        'd-flex',
        multiple_links ? 'multiple-links' : '',
        container_size,
        color_background,
        position_container,
        text_alignment,
        padding,
        'mb-5',
    ] | filter(v => v is not empty) | join(' ') %}

    {# Set card footer link classes #}
    {% set outline_class = outline is not empty ? outline ~ 'btn-' ~ button_color : 'btn-' ~ button_color %}
    {% set card_footer_link_classes = [
        'card-link',
        'btn',
        outline_class,
        'text-decoration-none',
        position_container,
        text_alignment,
        'p-2',
        'mt-3',
    ] | filter(v => v is not empty) | join(' ') %}

    <div class="{{ card_footer_classes }}">
        {% for link in links %}
            <a href="{{ link.url }}" title="{{ link.title }}" aria-label="{{ link.title }}" class="{{ card_footer_link_classes }}">
                {{ link.title }}
            </a>
        {% endfor %}
    </div>

{% endif %}