{# Card image/icon #}
{% if card_image %}
    <div class="card-header {{ text_alignment ~ ' ' ~ padding ~ ' ' ~ position_container }} g-0">
        {% if card_image %}
            {% for item in content.field_image['#items'] %}
                {% set image = {
                    '#theme':      'image_style',
                    '#style_name': 'webp',
                    '#attributes': { class: 'card-img-top img-fluid' },
                    '#uri':        item.entity.uri.value,
                    '#alt':        item.alt,
                    '#width':      item.width,
                    '#height':     item.height
                } %}
                {% if link_title %}
                    <a class="block-link" href="{{ link_url }}" aria-label="{{ link_title }}">
                {% endif %}
                <div role="img"
                     class="card-img {{ image_size ~ ' ' ~ padding }} {% if link_url %}img-hover-effect{% endif %}"
                     aria-label="{{ item.alt }}">
                    <figure>
                        {{ image }}
                        <figcaption class="{{ visibility }}">
                            <h6 class="figcaption text-center bold my-3 px-3">{{ item.alt }}</h6>
                        </figcaption>
                    </figure>
                </div>
                {% if link_title %}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
