{# Card Footer Button #}

{# Add optional variables based on conditions #}
{% set aria_label = link_title is not empty ? (label is not empty and link_title in ['Learn More', 'Read More', 'More Information'] ? link_title|title ~ ' About ' ~ label|title : link_title) : '' %}
{% set button_color = button_color ?? '' %}
{% set outline = outline ?? '' %}

{# Set footer card classes #}
{% set card_footer_classes = [
    'card-footer',
    'mb-5',
    center_content is not empty ? center_content : null,
    text_alignment is not empty ? text_alignment : null,
    padding is not empty ? padding : null,
] | join(' ') %}

{# Content #}
{% if link_title is not empty %}
    <div{{ attributes.addClass(card_footer_classes|trim) }}>
        <a href="{{ link_url }}"
           title="{{ aria_label }}"
           aria-label="{{ aria_label }}"
           class="align-self-end card-link btn {% if outline is not empty %}{{ outline }}{% endif %}{% if button_color is not empty %}{{ 'btn-' ~ button_color }}{% endif %} text-decoration-none p-2">
            {{ aria_label }}
        </a>
    </div>
{% endif %}

