{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available array of classes:
 * - border_style :
 * - button_color :
 * - color_background :
 * - color_border :
 * - icon :
 * - icon_color :
 * - icon_size :
 * - image_alignment :
 * - image_size :
 * - padding :
 * - page_title_visibility :
 * - position_container :
 * - size :
 * - text_alignment :
 * - text_color :
 * - outline :
 * - visibility :
 */
#}
{# Attach the library #}
{{ attach_library('cua_theme/counter') }}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'counter card rounded h-100',
    color_background is not empty ? color_background ~ ' ' ~ color_border|clean_class : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>

    {# Icon #}
    {% if icon is not empty %}
        {# If icon is present, render the following HTML block #}
        <div class="p-3 d-flex justify-content-center" style="color: {{ icon_color }}">
            {# Start of span with padding and text color based on icon_color variable #}
            <i class="{{ icon ~ ' ' ~ icon_size }}"></i>
            {# Render the icon with classes based on icon and icon_size variables #}
        </div>
    {% endif %}

    {# Image #}
    {% if content.field_image is not empty %}
        <div class="px-5 d-flex justify-content-center">
            {# image #}
            {% for item in content.field_image['#items'] %}
                {% set image = {
                    '#theme':      'image_style',
                    '#style_name': 'webp',
                    '#attributes': { class: 'card-img-top img-fluid', loading: 'eager' },
                    '#uri':        item.entity.uri.value,
                    '#alt':        item.alt,
                    '#width':      item.width,
                    '#height':     item.height
                } %}
                <figure>
                    {{ image }}
                </figure>
            {% endfor %}
        </div>
    {% endif %}

    {# Counter #}
    {% if content.field_number is not empty %}
        <div class="counter-size d-flex justify-content-center">
            {# Before number #}
            {% if content.field_before_number is not empty %}
                <span class="padding-right">{{ content.field_before_number }}</span>
            {% endif %}
            {# Counter #}
            <span class="counter-up" data-count="{{ content.field_number['#items'].value }}">0</span>
            {# After number #}
            {% if content.field_after_number is not empty %}
                <span class="padding-left">{{ content.field_after_number }}</span>
            {% endif %}
        </div>
    {% endif %}

    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}

</div>

