{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{# Header/Logo #}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12 my-3" id="cu-logo">
            <a href="https://giving.cu.edu/"
               title="{{ 'Colorado University • CU Advancement | CU Foundation'|t }}"
               rel="home"
               class="site-branding-logo">
                <img class="cu-logo" src="{{ site_logo }}" width="400px"
                     height="90px"
                     alt="{{ 'Colorado University CU Advancement | CU Foundation'|t }}"/>
            </a>
        </div>
        <div id="cu-site-title" class="col-md-4 col-sm-12 my-4">
            <div class="site-title-single col-md-4 pr-4 w-100">
                <h2 class="site-name float-end" title="{{ site_name }}"
                    aria-label="{{ site_name }}">{{ site_name }}</h2>
            </div>
        </div>
        <div id="mobile-bottom" class="col d-lg-none">
            <button class="navbar-toggler float-end" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCUContent"
                    aria-controls="navbarCUContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon w-100"></span>
                <span class="navbar-toggler-text w-100">{{ 'MENU'|t }}</span>
            </button>
        </div>
    </div>
</div>


