{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Attach the library #}
{{ attach_library('cua_theme/counter') }}

{# If class is active #}
{% set background_color = color_background is not empty ? color_background|clean_class : '' %}
{% set size = container_size is not empty ? container_size|clean_class : '' %}
{% set border_color = color_border is not empty ? color_border|clean_class : '' %}
{% set center_content = center_content ?? null %}
{% set page_title_visibility = page_title_visibility ?? null %}
{% set text_alignment = text_alignment ?? null %}
{% set text_color = text_color ?? null %}

{# Add Classes #}
{% set counter_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'counter',
    'card rounded-0 mx-2 p-3',
    background_color,
    border_color,
    size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : [])
%}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(counter_classes) }}>

    {# Include Title #}
    {% include '@cua_theme/component/title/_title.html.twig' %}

    {# Include Icon Component #}
    {% include '@cua_theme/component/card/_card--icon.html.twig' %}

    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}

    {# Counter #}
    {% if content.field_number is not empty %}
        <div class="counter-size{% if text_alignment  %} {{ text_alignment  }}{% endif %}{% if text_color %} {{ text_color }}{% endif %}">
            {# Before number #}
            {% if content.field_before_number is not empty %}
                <span class="padding-right{% if text_color %} {{ text_color }}{% endif %}">{{ content.field_before_number.0 }}</span>
            {% endif %}
            {# Counter #}
            <span class="counter-up{% if text_color %} {{ text_color }}{% endif %}" data-count="{{ content.field_number['#items'].value }}">0</span>
            {# After number #}
            {% if content.field_after_number is not empty %}
                <span class="padding-left{% if text_color %} {{ text_color }}{% endif %}">{{ content.field_after_number.0 }}</span>
            {% endif %}
        </div>
    {% endif %}

    {# Include Link/Button Component #}
    {% include '@cua_theme/component/body/_body.html.twig' %}

    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

</div>





