{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Attach the library #}
{{ attach_library('cua_theme/counter') }}

{# Define classes #}
{% set counter_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'counter',
    'card rounded-0 mx-2 p-3',
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ? utility_classes : []) | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--counter--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(counter_classes) }}>

    {# Include Title #}
    {% include '@cua_theme/component/partials/_title.html.twig' %}

    {# Include Icon Component #}
    {% include '@cua_theme/component/card/_card--icon.html.twig' %}

    {# Include Image Component #}
    {% include '@cua_theme/component/card/_card--image.html.twig' %}

    {# Counter #}
    {% if content.field_number %}
        <div class="counter-size {{ text_alignment ?: null }} {{ text_color ?: null }}">
            {# Before number #}
            {% if content.field_before_number %}
                <span class="padding-right {{ text_color ?: null }}">{{ content.field_before_number.0 }}</span>
            {% endif %}
            {# Counter #}
            <span class="counter-up {{ text_color ?: null }}" data-count="{{ content.field_number['#items'].value }}">0</span>
            {# After number #}
            {% if content.field_after_number %}
                <span class="padding-left {{ text_color ?: null }}">{{ content.field_after_number.0 }}</span>
            {% endif %}
        </div>
    {% endif %}

    {# Include Body Component #}
    {% include '@cua_theme/component/partials/_body.html.twig' %}

    {# Include Footer Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

</div>