{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Attach the library #}
{{ attach_library('cua_theme/counter') }}

{# If class is active #}
{% set color_background = color_background is not empty ? color_background|clean_class : '' %}
{% set color_border = color_border is not empty ? color_border|clean_class : '' %}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'counter',
    'card rounded-0 mx-2',
    color_background,
    color_border,
    container_size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : [])
%}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(classes) }}>

    {# Media Component Logic #}
    {% if card_image is not empty %}
        {# Include Image Component #}
        {% include '@cua_theme/component/card/_card--image.html.twig' %}
    {% elseif icon is not empty %}
        {# Include Icon Component #}
        {% include '@cua_theme/component/card/_card--icon.html.twig' %}
    {% endif %}

    {# Counter #}
    {% if content.field_number is not empty %}
        <div class="counter-size {{ text_alignment ~ ' ' ~ text_color }}">
            {# Before number #}
            {% if content.field_before_number is not empty %}
                <span class="padding-right {{ text_color }}">{{ content.field_before_number.0 }}</span>
            {% endif %}
            {# Counter #}
            <span class="counter-up {{ text_color }}" data-count="{{ content.field_number['#items'].value }}">0</span>
            {# After number #}
            {% if content.field_after_number is not empty %}
                <span class="padding-left {{ text_color }}">{{ content.field_after_number.0 }}</span>
            {% endif %}
        </div>
    {% endif %}

    {# Include Title/Body Component #}
    {% include '@cua_theme/component/card/_card--title-body.html.twig' %}

    {# Include Link/Button Component #}
    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

</div>
