{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Attach the library #}
{{ attach_library('cua_theme/counter') }}

{# Import all macro files at the top #}
{% import '@cua_theme/component/macros/title_macros.html.twig' as titleMacros %}
{% import '@cua_theme/component/macros/card_image_macros.html.twig' as cardImageMacros %}
{% import '@cua_theme/component/macros/icon_macros.html.twig' as iconMacros %}
{% import '@cua_theme/component/macros/body_macros.html.twig' as bodyMacros %}
{% import '@cua_theme/component/macros/card_footer_macros.html.twig' as cardFooterMacros %}

{# Define classes #}
{% set counter_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'counter',
    'card rounded-0 mx-2 p-3',
    color_background ?: null,
    color_border ?: null,
    container_size ?: null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ? utility_classes : []) | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node--counter--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(counter_classes) }}>

    {# Render the title #}
    {{ titleMacros.render_title(
        label,
        title_prefix,
        title_suffix,
        center_content,
        text_alignment,
        text_color,
        padding,
        links
    ) }}

    {# Include image or icon macros #}
    {% if card_image %}
        {# Render the image #}
        {{ cardImageMacros.render_card_image(
            card_image,
            position_container,
            text_alignment,
            text_color,
            image_size,
            visibility,
            content,
            links
        ) }}
    {% elseif icon %}
        {# Render the icon #}
        {{ iconMacros.render_icon(
            icon,
            icon_size,
            icon_color,
            padding,
            position_container,
            text_alignment
        ) }}
    {% endif %}

    {# Counter #}
    {% if content.field_number %}
        <div class="counter-size {{ text_alignment ?: null }} {{ text_color ?: null }}">
            {# Before number #}
            {% if content.field_before_number %}
                <span class="padding-right {{ text_color ?: null }}">{{ content.field_before_number.0 }}</span>
            {% endif %}
            {# Counter #}
            <span class="counter-up {{ text_color ?: null }}" data-count="{{ content.field_number['#items'].value }}">0</span>
            {# After number #}
            {% if content.field_after_number %}
                <span class="padding-left {{ text_color ?: null }}">{{ content.field_after_number.0 }}</span>
            {% endif %}
        </div>
    {% endif %}

    {# Render the body #}
    {{ bodyMacros.render_body(
        content,
        padding,
        text_color,
        text_alignment
    ) }}

    {# Render the footer #}
    {{ cardFooterMacros.render_card_footer(
        links,
        container_size,
        color_background,
        position_container,
        text_alignment,
        padding,
        outline,
        button_color
    ) }}

</div>