{#
/**
* @file
* Template for the Half and Half component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# If class is active #}
{% set container_size = container_size is not empty ? container_size|clean_class : '' %}
{% set margins = margins is not empty ? margins|clean_class : '' %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'video',
    animate-trigger,
    'card',
    'g-0',
    margins,
    container_size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id ).addClass(classes) }}>

    {# Video component #}
    {% include '@cua_theme/component/video/include/_video--master.html.twig' %}

    {# Desktop component #}
    {% if label or body %}
        <div class="video-desktop-copy d-none d-md-block g-0">
            <div class="container-fluid mx-auto position-absolute d-flex {{ position_container }}">
                {# Set data attributes for animation #}
                {% set animation_classes = (animation or animation_speed or animation_delay) ? 'animate__animated ' ~ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay : null %}
                {% set color_background = color_background is not empty ? color_background|clean_class : '' %}
                <div class="col-sm-4 {{ color_background }} p-4 mt-5 mx-5 {% if animation_classes %}{{ animation_classes }}{% endif %}" {% if animation_classes %}data-animation-classes="{{ animation_classes|join(' ')|trim }}"{% endif %}>
                    {# Include all components #}
                    {% include '@cua_theme/component/content/_title_body_link.html.twig' %}
                </div>
            </div>
        </div>

        {# Video -- Mobile #}
        <div class="video-mobile-copy d-md-none g-0">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm-12">
                        {# Include all components #}
                        {% include '@cua_theme/component/content/_title_body_link.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>

