{#
/**
 * @file
 * Template for the Half and Half component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Set default class values #}
{% set container_size = container_size ? container_size|clean_class : '' %}
{% set margins = margins ? margins|clean_class : '' %}
{% set animate_trigger = (animation or animation_speed or animation_delay) ? 'animate-trigger' : '' %}
{% set color_background = color_background ? color_background|clean_class : '' %}

{# Define the main block classes #}
{% set video_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'video',
    animate_trigger,
    'card g-0',
    'clearfix',
    margins,
    container_size,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : '',
] %}

{# Generate a unique ID for the block #}
{% set unique_id = 'block--node--video--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Render the main content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(video_classes) }}>

    {# Include Video component #}
    {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}

    {# Desktop component #}
    {% if label or body %}
        <div class="video-desktop-copy d-none d-md-block g-0">
            <div class="container-fluid mx-auto {% if parallax_video %}parallax-main-content{% else %}position-absolute{% endif %} d-flex {{ position_container ?? '' }}">

                {# Set data attributes for animation #}
                {% set animation_classes = (animation or animation_speed or animation_delay) ? 'animate__animated ' ~ animation ~ ' ' ~ animation_speed ~ ' ' ~ animation_delay : '' %}
                <div class="col-sm-5 {{ color_background }} px-5 py-4 m-5 {{ animation_classes }}" {% if animation_classes %}data-animation-classes="{{ animation_classes|trim }}"{% endif %}>

                    {# Include Title Component #}
                    {% include '@cua_theme/component/partials/_title.html.twig' %}

                    {# Include Body Component #}
                    {% include '@cua_theme/component/partials/_body.html.twig' %}

                    {# Include Link/Button Component #}
                    {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

                </div>
            </div>
        </div>

        {# Video -- Mobile #}
        <div class="video-mobile-copy d-md-none g-0 {% if parallax_video %}parallax-main-content{% endif %}">
            <div class="container mt-0 mt-md-5">
                <div class="row">
                    <div class="col-sm-12 {{ color_background }} p-3 my-5">

                        {# Include Title Component #}
                        {% include '@cua_theme/component/partials/_title.html.twig' %}

                        {# Include Body Component #}
                        {% include '@cua_theme/component/partials/_body.html.twig' %}

                        {# Include Link/Button Component #}
                        {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>