{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available array of classes:
       'body',
            'field_animation',
            'field_animation_delay',
            'field_animation_speed',
            'field_border_style',
            'field_button_color',
            'field_container_size',
            'field_color_background',
            'field_color_border',
            'field_effect',
            'field_effect_copy',
            'field_icon',
            'field_icon_color',
            'field_icon_size',
            'field_image_alignment',
            'field_image_size',
            'field_padding',
            'field_page_title_visibility',
            'field_position_container',
            'field_provider',
            'field_size',
            'field_text_alignment',
            'field_text_color',
            'field_outline',
            'field_video',
            'field_visibility',
 */
#}

{# Add Classes #}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'video',
    'card',
    'g-0',
    container_size is not empty ? container_size|clean_class  : '',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class,]|merge(utility_classes ? utility_classes : []) %}

{# Add unique id to block #}
{% set unique_id = [
    plugin_id ? 'block--' ~ plugin_id|replace({"_": "-", ":": "--"}) ~ '-' ~ elements.content['#block_content'].id()
] %}

{# Render content #}<div{{ attributes|without('id').addClass(classes).setAttribute('id', unique_id ) }}>
    {# Video Container #}
    {% if content.field_provider is not empty and content.field_provider[0]['#markup'] == "youtube" %}
        <div class="video-container g-0 m-0 p-0 position-relative">
            <iframe width="100%" height="600"
                    src="https://www.youtube.com/embed/{{ video }}&amp;controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    {% else %}
        <div class="video-container g-0 m-0 p-0 position-relative">
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/{{ video }}?h=364db7b3dd&autoplay=1&title=0&byline=0&portrait=0=autoplay=1{{ autoplay }}"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen></iframe>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>
    {% endif %}

    {# Title, Body, and Link Container #}
    <div class="col-md-4 col-sm-12 {{ color_background }} overlay-content position-absolute top-50 end-0 translate-middle-y p-4" style="margin-right: 30px;">
        {# Title #}
        {{ title_prefix }}
        {% if label is not empty %}
            <h3 class="card-title {{ page_title_visibility ~ ' ' ~ text_alignment ~ ' ' ~ position_container ~ ' ' ~ text_color }} mb-2 px-3">
                {{ label }}
            </h3>
        {% endif %}
        {{ title_suffix }}

        {# Card Title/Body #}
        {% if label or body %}
            <div class="card-body">
                <div class="card-text {{ text_alignment ~ ' ' ~ text_color }}">
                    {% include '@cua_theme/component/body/_body.html.twig' with { 'body': body } %}
                </div>
            </div>
        {% endif %}

        {# Include Link/Button Component #}
        {% include '@cua_theme/component/card/_card--footer-btn.html.twig' %}
    </div>
</div>
