{% apply spaceless %}

{{ attach_library('cua_theme/video') }}

{% set entity_id = elements.content['#block_content'].id() ?? random() %}
{% set unique_id = 'block--node--video--' ~ entity_id|replace({'_':'-'})|trim('-')|clean_class %}
{% set title_id = unique_id ~ '-label' %}

{% set safe_label = label|render|striptags|trim ?: 'Video content' %}

{% set classes = [
  'block',
  configuration.provider ? 'block-' ~ configuration.provider|clean_class : null,
  'video',
  'card',
  'g-0',
  'clearfix'
]|filter(v => v) %}

<div{{ attributes
  .setAttribute('id', unique_id)
  .addClass(classes)
  .setAttribute('role', 'region')
  .setAttribute('aria-labelledby', title_id)
}}>

  <h2 id="{{ title_id }}" class="visually-hidden">
    {{ safe_label }}
  </h2>

  <div class="{{ container_size ?: 'container' }}">
    {% include '@cua_theme/component/video/partials/_video--master.html.twig' with {
      provider: provider|default(null),
      label: safe_label,
      content: content,
      transcript_url: transcript_url|default(null)
    } only %}
  </div>

</div>

{% endapply %}