{#
/**
 * @file
 * Template for the Half and Half component (Desktop).
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 */
#}

<div class="{{ container_size|default('') }} d-none d-sm-block g-0">
    <div class="card">
        <div class="row">

            {# Determine layout and alignment #}
            {% set layout = content.field_custom_layout[0]['#markup'] ?? '' %}
            {% set is_7030_layout = layout == '4' %}
            {% set is_5050_layout = layout == '50_50' %}

            {# Set column classes for image container #}
            {% set image_col_classes = [
                is_7030_layout ? 'col-md-4',
                is_5050_layout ? 'col-md-6',
                'col-sm-12',
                color_background ?: null,
                padding ?: null,
                image_alignment ?: null,
            ] | filter(v => v) | join(' ') %}

            {# Render image container if layout is set #}
            {% if layout %}
                <div class="{{ image_col_classes }}">

                    {# Include Video, Image, or Icon Component #}
                    {% if provider %}
                        {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
                    {% elseif card_image %}
                        {# Import the image macro file #}
                        {% import '@cua_theme/component/macros/card_image_macros.html.twig' as cardImageMacros %}
                        {# Call the macro and pass the necessary variables #}
                        {{ cardImageMacros.render_card_image(card_image, position_container, text_alignment, text_color, image_size, visibility, content, links) }}
                    {% elseif icon %}
                        {# Import the icon macro file #}
                        {% import '@cua_theme/component/macros/icon_macros.html.twig' as iconMacros %}
                        {# Call the macro and pass the necessary variables #}
                        {{ iconMacros.render_icon(icon, icon_size, icon_color, padding, position_container, text_alignment) }}
                    {% endif %}

                </div>
            {% endif %}

            {# Set column classes for title/body container #}
            {% set title_body_col_classes = [
                is_7030_layout ? 'col-md-8',
                is_5050_layout ? 'col-md-6',
                'col-sm-12',
                color_background ?: null,
                text_alignment ?: null,
                padding ?: null,
            ] | filter(v => v) | join(' ') %}

            {# Render title/body container if layout is set #}
            {% if layout %}
                <div class="{{ title_body_col_classes }}">
                    <div class="row mx-5 pt-3">

                        {# Import the title macro file #}
                        {% import '@cua_theme/component/macros/title_macros.html.twig' as titleMacros %}
                        {# Call the macro with all necessary variables #}
                        {{ titleMacros.render_title(label, title_prefix, title_suffix, center_content, text_alignment, text_color, padding, links) }}

                        {# Import the body macro file #}
                        {% import '@cua_theme/component/macros/body_macros.html.twig' as bodyMacros %}
                        {# Call the macro and pass the necessary variables #}
                        {{ bodyMacros.render_body(content, padding, text_color, text_alignment) }}

                        {# Import the link macro file #}
                        {% import '@cua_theme/component/macros/card_footer_macros.html.twig' as cardFooterMacros %}
                        {# Call the macro and pass the necessary variables #}
                        {{ cardFooterMacros.render_card_footer(links, container_size, color_background, position_container, text_alignment, padding, outline, button_color) }}

                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>