{#
/**
* @file
* Optimized Template for the Half and Half component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Attach the library #}
{{ attach_library('cua_theme/half-and-half') }}

{# Import macros #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{# Set data attributes for animation #}
{% set animation_classes = ['animate__animated', animation, animation_speed, animation_delay]|filter(v => v) %}
{% set data_animation_classes = animation_classes|join(' ')|trim %}
{% set animate_trigger = animation_classes ? 'animate-trigger' : '' %}

{# Add Classes #}
{% set hh_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    animate_trigger,
    border_style,
    container_size,
    margins,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class
] | filter(v => v) | merge(utility_classes ?: []) | join(' ')|trim %}

{# Add unique id to block #}
{% set unique_id = 'block--node-half-and-half--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}

{# Content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(hh_classes) }} {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>
    {# Desktop and Mobile Components #}
    {% for device, visibility_class in {'desktop': 'd-none d-sm-block', 'mobile': 'd-block d-sm-none'} %}
        <div class="container {{ visibility_class }} g-0">
            <div class="card">
                <div class="row g-0">
                    {% set layout = content.field_custom_layout[0]['#markup'] ?? '' %}
                    {% set is_7030_layout = layout == '4' %}
                    {% set is_5050_layout = layout == '50_50' %}

                    {% set col_classes = {
                        'img': [is_7030_layout ? 'col-md-4' : '', is_5050_layout ? 'col-md-6' : '', 'col-sm-12', color_background, padding, image_alignment],
                        'content': [is_7030_layout ? 'col-md-8' : '', is_5050_layout ? 'col-md-6' : '', 'col-sm-12', color_background, text_alignment, padding]
                    } %}

                    {% if layout %}
                        <div class="{{ col_classes.img|filter(v => v)|join(' ') }}">
                            {# Render provider content, image, or icon as applicable. #}
                            {% if provider %}
                                {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
                            {% elseif card_image %}
                                {% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
                                {{ cardImageMacros.render_card_image(
                                    card_image,
                                    position_container,
                                    text_alignment,
                                    text_color,
                                    image_size,
                                    visibility,
                                    content,
                                    true
                                ) }}
                            {% elseif icon %}
                                {% import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros %}
                                {{ iconMacros.render_icon(
                                    icon,
                                    icon_size,
                                    icon_color,
                                    padding,
                                    position_container,
                                    text_alignment
                                ) }}
                            {% endif %}
                        </div>

                        <div class="{{ col_classes.content|filter(v => v)|join(' ') }}">
                            <div class="row mx-5 pt-3">
                                {# Render title #}
                                {{ titleMacros.render_title(
                                    label,
                                    title_prefix,
                                    title_suffix,
                                    center_content,
                                    text_alignment,
                                    text_color,
                                    padding,
                                    links) }}

                                {# Render body content if provided. #}
                                {% if content %}
                                    {% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
                                    {{ bodyMacros.render_body(
                                        content,
                                        padding,
                                        text_color,
                                        text_alignment
                                    ) }}
                                {% endif %}

                                {# Render footer links or buttons, if available. #}
                                {% if links %}
                                    {% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}
                                    {{ cardFooterMacros.render_card_footer(
                                        links,
                                        container_size,
                                        color_background,
                                        position_container,
                                        text_alignment,
                                        padding,
                                        outline,
                                        button_color,
                                        button_layout,
                                        false,
                                        single_link ? true : false
                                    ) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
