{#
/**
 * @file
 * Optimized Template for the Half and Half component with accessibility improvements.
 */
#}

{{ attach_library('cua_theme/half-and-half') }}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}

{% set animation_classes = ['animate__animated', animation, animation_speed, animation_delay]|filter(v => v) %}
{% set data_animation_classes = animation_classes|join(' ')|trim %}
{% set animate_trigger = animation_classes ? 'animate-trigger' : '' %}
{% set unique_id = 'block--node-half-and-half--' ~ elements.content['#block_content'].id()|replace({'_': '-', ':': '--'}) %}
{% set hh_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    animate_trigger,
    border_style,
    container_size,
    margins,
    id ? 'block--' ~ id|replace({'_': '-'})|clean_class
] | filter(v => v) | merge(utility_classes ?: []) | join(' ')|trim %}

{{ title_prefix ?? '' }}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(hh_classes) }} {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>
    {% for device, visibility_class in {'desktop': 'd-none d-sm-block', 'mobile': 'd-block d-sm-none'} %}
        {% set heading_id = unique_id ~ '-heading-' ~ device %}
        <div class="container-fluid {{ visibility_class }} g-0">
            <div class="card">
                <div class="row g-0">
                    {% set layout = content.field_custom_layout[0]['#markup'] ?? '' %}
                    {% set is_7030_layout = layout == '4' %}
                    {% set is_5050_layout = layout == '50_50' %}

                    {% set col_classes = {
                        'img': [is_7030_layout ? 'col-md-4' : '', is_5050_layout ? 'col-md-6' : '', 'col-sm-12', color_background, padding, image_alignment],
                        'content': [is_7030_layout ? 'col-md-8' : '', is_5050_layout ? 'col-md-6' : '', 'col-sm-12', color_background, text_alignment, padding]
                    } %}

                    {% if layout %}
                        {# Media Column #}
                        <div class="{{ col_classes.img|filter(v => v)|join(' ')|trim }} {% if visibility_class == 'd-block d-sm-none' %}order-first{% endif %}">
                            {% if provider %}
                                {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
                            {% elseif card_image %}
                                {% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
                                {{ cardImageMacros.render_card_image(
                                    card_image,
                                    position_container,
                                    text_alignment,
                                    text_color,
                                    image_size,
                                    visibility,
                                    content,
                                    true
                                ) }}
                            {% elseif icon %}
                                {% import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros %}
                                {{ iconMacros.render_icon(
                                    icon,
                                    icon_size,
                                    icon_color,
                                    padding,
                                    position_container,
                                    text_alignment
                                ) }}
                            {% endif %}
                        </div>

                        {# Text Content Column #}
                        <div class="{{ col_classes.content|filter(v => v)|join(' ')|trim }} {% if visibility_class == 'd-block d-sm-none' %}order-last{% endif %}"
                             role="region" aria-labelledby="{{ heading_id }}">
                            <div class="row mx-5 pt-3">

                                {% if label %}
                                    {% set heading_classes = [
                                        'display-4 card-text lead title g-0',
                                        text_alignment,
                                        center_content,
                                        text_color,
                                        padding,
                                    ] | filter(v => v) | join(' ') %}
                                    <h3 id="{{ heading_id }}" class="{{ heading_classes }}">
                                        {{ label }}
                                    </h3>
                                {% endif %}

                                {% if content %}
                                    {% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
                                    {{ bodyMacros.render_body(
                                        content,
                                        padding,
                                        text_color,
                                        text_alignment
                                    ) }}
                                {% endif %}

                                {% if links %}
                                    {% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}
                                    {{ cardFooterMacros.render_card_footer(
                                        links,
                                        container_size,
                                        color_background,
                                        position_container,
                                        text_alignment,
                                        padding,
                                        outline,
                                        button_color,
                                        button_layout,
                                        false,
                                        single_link ? true : false
                                    ) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{{ title_suffix ?? '' }}