{#
/**
 * @file
 * Template for the Half and Half component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 */
#}

{# Attach the library #}
{{ attach_library('cua_theme/half-and-half') }}

{# Import macros #}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}
{% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}
{% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
{% import '@cua_theme/component/macros/card_icon.html.twig' as cardIconMacros %}
{% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}

{# Add Classes #}
{% set hh_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'half-and-half',
    (animate_trigger ?: null),
    (border_style ?: null),
    (container_size ?: 'container'),
    (margins ?: null),
    (color_background ?: null),
    (animation or animation_speed or animation_delay) ? 'animate-trigger' : null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class
] | merge(utility_classes ? utility_classes : []) | filter(v => v)|join(' ') %}

{# Set data attributes for animation #}
{% set data_animation_classes = [
    'animate__animated',
    animation ?: null,
    animation_speed ?: null,
    animation_delay ?: null,
] | filter(v => v) | join(' ') %}

{# Add unique id to block #}
{% set unique_id = 'block--node-' ~ '-half-and-half' ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Set defaults for column classes and container size #}
{% set image_col_classes = image_col_classes ?: 'col-md-6 col-lg-4' %}
{% set title_body_col_classes = title_body_col_classes ?: 'col-md-6 col-lg-8' %}
{% set media_col_classes = media_col_classes ?: 'col-12' %}
{% set container_size = container_size ?: 'container' %}

{# Check for single link #}
{% set single_link = links|length == 1 ? links|first : null %}

<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(hh_classes) }}
        {% if data_animation_classes %} data-animation-classes="{{ data_animation_classes }}"{% endif %}>

    {# Visually Hidden Title for Screen Readers (at the top) #}
    <h3 class="sr-only">{{ label }}</h3>

    {# Open the link tag if single_link exists #}
    {% if single_link %}
    <a href="{{ single_link.url ?: '#' }}"
       class="hh-link-wrapper"
       {% if single_link.title is defined and single_link.title %}aria-label="{{ single_link.title }}"{% endif %}>
        {% endif %}

        {# Desktop Component #}
        <div class="{{ container_size }} d-none d-sm-block g-0">
            <div class="card">
                <div class="row g-0">

                    {# Media/Image/Video/Icon Section #}
                    <div class="{{ image_col_classes }}">
                        {% if provider %}
                            {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
                        {% elseif card_image %}
                            {{ cardImageMacros.render_card_image(
                                card_image,
                                position_container,
                                text_alignment,
                                text_color,
                                image_size,
                                visibility,
                                content,
                                true
                            ) }}
                        {% elseif icon %}
                            {{ cardIconMacros.render_icon(
                                icon,
                                icon_size,
                                icon_color,
                                padding,
                                position_container,
                                text_alignment
                            ) }}
                        {% endif %}
                    </div>

                    {# Title/Body Section #}
                    <div class="{{ title_body_col_classes }}">
                        <div class="row g-0 mx-5 pt-3">

                            {# Render Title #}
                            {{ titleMacros.render_title(
                                label,
                                title_prefix,
                                title_suffix,
                                center_content,
                                text_alignment,
                                text_color,
                                padding
                            ) }}

                            {# Render Body Content #}
                            {% if content %}
                                {{ bodyMacros.render_body(
                                    content,
                                    padding,
                                    text_color,
                                    text_alignment
                                ) }}
                            {% endif %}

                            {# Render Footer/Links (Button) #}
                            {% if links %}
                                {{ cardFooterMacros.render_card_footer(
                                    links,
                                    container_size,
                                    color_background,
                                    position_container,
                                    text_alignment,
                                    padding,
                                    outline,
                                    button_color,
                                    button_layout,
                                    false,
                                    single_link ? true : false
                                ) }}
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>

        {# Mobile Component (Similar to Desktop but stacked layout) #}
        <div class="{{ container_size }} d-block d-sm-none g-0">
            <div class="card">
                <div class="row g-0">
                    <div class="{{ media_col_classes }}">
                        {% if provider %}
                            {% include '@cua_theme/component/video/partials/_video--master.html.twig' %}
                        {% elseif card_image %}
                            {{ cardImageMacros.render_card_image(
                                card_image,
                                position_container,
                                text_alignment,
                                text_color,
                                image_size,
                                visibility,
                                content,
                                true
                            ) }}
                        {% elseif icon %}
                            {{ cardIconMacros.render_icon(
                                icon,
                                icon_size,
                                icon_color,
                                padding,
                                position_container,
                                text_alignment
                            ) }}
                        {% endif %}
                    </div>

                    <div class="{{ title_body_col_classes }}">
                        <div class="row g-0 m-4">

                            {# Render Title (h3) #}
                            {{ titleMacros.render_title(
                                label,
                                title_prefix,
                                title_suffix,
                                center_content,
                                text_alignment,
                                text_color,
                                padding
                            ) }}

                            {# Render Body Content #}
                            {% if content %}
                                {{ bodyMacros.render_body(
                                    content,
                                    padding,
                                    text_color,
                                    text_alignment
                                ) }}
                            {% endif %}

                            {# Render Footer/Links (Button) #}
                            {% if links %}
                                {{ cardFooterMacros.render_card_footer(
                                    links,
                                    container_size,
                                    color_background,
                                    position_container,
                                    text_alignment,
                                    padding,
                                    outline,
                                    button_color,
                                    button_layout,
                                    false,
                                    single_link ? true : false
                                ) }}
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>

        {# Close the link tag if single_link exists #}
        {% if single_link %}
    </a>
    {% endif %}

</div>