{% macro render_card_image(card_image, position_container = null, text_alignment = null, text_color = null, image_size = null, image_text = null, content = null, links = null) %}
    {% if card_image %}
        <link rel="preload" href="{{ card_image_field['#item'].entity.fileuri }}" as="image">
        {% set card_image_classes = [
            'card-header',
            'card-img',
            position_container ? 'd-flex ' ~ position_container : null,
            text_alignment ?: null,
            text_color ?: null,
            'g-0',
        ] | filter(v => v) | join(' ') %}

        <div role="presentation" class="{{ card_image_classes }}">

            {# Rendered image with link #}
            {% if links is not empty %}
                {% set firstLink = links[0] %}
                <a class="img-hover-effect" href="{{ firstLink.url }}"
                   title="{{ firstLink.title }}"
                   aria-label="{{ firstLink.title }}"
                   aria-hidden="true">
                    {{ card_image }}
                </a>
            {% else %}
                {# Rendered image w/o link #}
                {{ card_image }}
            {% endif %}
        </div>

    {% endif %}
{% endmacro %}