{# Flag Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/flag_macros.html.twig' as flagMacros %} #}

{# Call the macro and pass the necessary variables #}
{# {{ flagMacros.render_flag(flag, flag_title, icon, icon_size, flag_background, links) }} #}

{% macro render_flag(flag, flag_title, icon = null, icon_size = null, flag_background = null, links = []) %}

    {# Define classes for the flag container dynamically #}
    {% set flag_classes = [
        'flag',
        'py-2',
        flag_background ?: '',
    ] | filter(v => v) %}

    <div class="{{ flag_classes|join(' ')|trim }}"
         aria-hidden="true"
         style="visibility: visible;">

        {# Render the icon if it exists #}
        {% if icon %}
            {% set icon_classes = [
                icon ?: '',
                icon_size ?: '',
                'px-1',
            ] | filter(v => v) %}
            <i class="{{ icon_classes|join(' ')|trim }}" aria-hidden="true"></i>
        {% endif %}

        {# Render title in a semantic wrapper #}
        {% set flag_title_classes = [
            'flag-title'
        ] | filter(v => v) %}

        <span class="{{ flag_title_classes|join(' ')|trim }}">{{ flag_title|e }}</span>

    </div>

{% endmacro %}