{# Title Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/title_macros.html.twig' as titleMacros %} #}

{# Call the macro and pass the necessary variables #}
{# {{ titleMacros.render_title(label, title_prefix, title_suffix, center_content, text_alignment, text_color, padding) }} #}

{# Content #}
{% macro render_title(label, title_prefix = '', title_suffix = '', center_content = null, text_alignment = null, text_color = null, padding = null,  hide_from_screen_readers = false, links = []) %}

    {# Define Title Classes #}
    {% set title_classes = [] %}

    {% if center_content or text_alignment or text_color or padding %}
        {% set title_classes = title_classes|merge(['display-4 card-text lead title']) %}
    {% endif %}

    {% set title_classes = title_classes|merge([
        center_content ?: null,
        text_alignment ?: null,
        text_color ?: null,
        padding ?: null,
    ]) | filter(v => v) | join(' ') %}

    {# Define Title Link Classes #}
    {% set title_link_classes = [
        'title-link',
        text_color ?: null,
    ] | filter(v => v) | join(' ') %}

    {# Render Title with Optional Link #}
    {{ title_prefix ?: '' }}
    {% if links|length %}
        {% set firstLink = links[0] %}
        <a class="{{ title_link_classes }}" href="{{ firstLink.url }}"
           title="{{ firstLink.title }}"{% if hide_from_screen_readers %} aria-hidden="true" {% endif %}>
            <h3 class="{{ title_classes }}">
                {{ label }}
            </h3>
        </a>
    {% else %}
        <h3 class="{{ title_classes }}"{% if hide_from_screen_readers %} aria-hidden="true" {% endif %}>
            {{ label }}
        </h3>
    {% endif %}
    {{ title_suffix ?: '' }}

{% endmacro %}