{# Footer Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/card_footer.html.twig' as FooterMacros %} #}

{# Call the macro and pass the necessary variables #}
{#  {{ cardFooterMacros.render_card_footer(links = links, container_size, color_background, position_container, text_alignment, padding, outline, button_color, button_layout) }}
#}

{% macro render_card_footer(
    links,
    container_size = null,
    color_background = null,
    position_container = null,
    text_alignment = null,
    padding = null,
    outline = null,
    button_color = null,
    button_layout = null
    ) %}

    {# Ensure links is always an array #}
    {% set links = links|default([]) %}

    {# Check if there are links to render #}
    {% if links|length > 0 %}

        {# Determine if multiple links exist #}
        {% set multiple_links = links|length > 1 %}

        {# Set card footer classes #}
        {% set card_footer_classes = [
            'card-footer',
            'd-flex',
            multiple_links ? 'multiple-links' : '',
            container_size,
            position_container,
            text_alignment,
            padding,
            'mb-5',
        ] | filter(v => v) | join(' ') %}

        {# Set card footer link classes #}
        {% set outline_class = outline ? outline ~ 'btn-' ~ button_color : 'btn-' ~ button_color %}
        {% set card_footer_link_classes = [
            'card-link',
            'btn',
            outline_class,
            'text-decoration-none',
            position_container,
            text_alignment,
            'p-2',
            'mt-3',
        ] | filter(v => v) | join(' ') %}

        <div class="{{ card_footer_classes }}"

                {% if multiple_links %}
            role="group" aria-label="Related links"
                {% endif %}>

            {% for link in links %}
                {% if link.url and link.title %}
                    <a href="{{ link.url }}"
                       title="{{ link.title }}"
                       class="{{ card_footer_link_classes }}">
                        {# Render title #}
                        {{ link.title }}
                    </a>
                {% endif %}
            {% endfor %}

        </div>

    {% endif %}
{% endmacro %}