{# Card Footer Button Macro --
# Import the macro file where needed:
# {% import '@cua_theme/component/macros/card_footer_macros.html.twig' as cardFooterMacros %}
#
# Call the macro and pass the necessary variables:
# {{ cardFooterMacros.render_card_footer(links, container_size, color_background, position_container, text_alignment, padding, outline, button_color) }}
#}

{% macro render_card_footer(links, container_size = null, color_background = null, position_container = null, text_alignment = null, padding = null, outline = null, button_color = null) %}

    {% if links is not empty %}

        {# Determine if multiple links exist #}
        {% set multiple_links = links|length > 1 %}

        {# Set card footer classes #}
        {% set card_footer_classes = [
            'card-footer',
            'd-flex',
            multiple_links ? 'multiple-links' : '',
            container_size ?: null,
            color_background ?: null,
            position_container ?: null,
            text_alignment ?: null,
            padding ?: null,
            'mb-5',
        ] | filter(v => v) | join(' ') %}

        {# Set card footer link classes #}
        {% set outline_class = outline ? outline ~ 'btn-' ~ button_color : 'btn-' ~ button_color %}
        {% set card_footer_link_classes = [
            'card-link',
            'btn',
            outline_class ?: null,
            'text-decoration-none',
            position_container ?: null,
            text_alignment ?: null,
            'p-2',
            'mt-3',
        ] | filter(v => v) | join(' ') %}

        <div class="{{ card_footer_classes }}">
            {% for link in links %}
                <a href="{{ link.url }}" title="{{ link.title }}" aria-label="{{ link.title }}" class="{{ card_footer_link_classes }}">
                    {{ link.title }}
                </a>
            {% endfor %}
        </div>

    {% endif %}

{% endmacro %}