{# Flag Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/flag_macros.html.twig' as flagMacros %} #}

{# Call the macro and pass the necessary variables #}
{# {{ flagMacros.render_flag(flag, flag_title, icon, icon_size, flag_background, links) }} #}

{# Content #}
{% macro render_flag(flag, flag_title, icon = null, icon_size = null, flag_background = null, links = []) %}

    {% if flag == 'flag_on' %}
        {% set firstLink = links[0] ?? null %}

        {# Open the link tag if there are links #}
        {% if firstLink %}
            <a class="flag-link" href="{{ firstLink.url }}"
            title="{{ firstLink.title }}"
            aria-label="{{ firstLink.title }}" aria-hidden="false">
        {% endif %}

        <div class="flag {{ flag_background ?: '' }} py-2 animate-trigger animate__animated animate__fadeIn animate__slow animate__delay-1s"
             data-animation-classes="animate__animated animate__fadeIn animate__slow animate__delay-1s"
             style="visibility: visible;">

            {# Render the icon if it exists #}
            {% if icon %}
                <i class="{{ [icon, icon_size, 'px-1']|filter(v => v is not empty)|join(' ') }}"></i>
            {% endif %}

            {# Render title #}
            {{ flag_title }}

        </div>

        {# Close the link tag if there are links #}
        {% if firstLink %}
            </a>
        {% endif %}

    {% endif %}
{% endmacro %}
