{# Card Image Macro #}

{# Import the macro file #}
{# {% import '@cua_theme/component/macros/card_image_macros.html.twig' as cardImageMacros %} #}

{# Call the macro and pass the necessary variables #}
{# {{ cardImageMacros.render_card_image(card_image, position_container, text_alignment, text_color, image_size, visibility, content) }} #}

{% macro render_card_image(card_image, position_container = null, text_alignment = null, text_color = null, image_size = null, image_text = null, content = null, links = null) %}
    {% if card_image %}

        {# Set card image classes #}
        {% set card_image_classes = [
            'card-header',
            position_container ? 'd-flex ' ~ position_container : null,
            text_alignment ?: null,
            text_color ?: null,
            image_size ?: null,
            'g-0',
        ] | filter(v => v) | join(' ') %}

        {# Set presentation classes based on conditions #}
        {% set presentation_classes = [
            'card-img',
            image_size ?: null,
        ] | filter(v => v) | join(' ') %}

        {# Content #}
        <div class="{{ card_image_classes }}">
            <div class="{{ presentation_classes }}">

                {# Card Image with link #}
                {% if links is not empty %}
                    {% set firstLink = links[0] %}
                    <a class="img-hover-effect" href="{{ firstLink.url }}"
                       title="{{ firstLink.title }}"
                       aria-hidden="true">
                        {{ card_image }}
                    </a>
                {% else %}
                    {# Card Image without link #}
                    {{ card_image }}
                {% endif %}

            </div>
        </div>

    {% endif %}
{% endmacro %}