{% macro render_card_footer(
    links,
    container_size = null,
    color_background = null,
    position_container = null,
    text_alignment = null,
    padding = null,
    outline = null,
    button_color = null,
    button_layout = null,
    hide_from_screen_readers = false,
    render_as_span = false
    ) %}

    {% set links = links|default([]) %}
    {% if links|length > 0 %}
        {% set multiple_links = links|length > 1 %}
        {% set card_footer_classes = [
            'card-footer',
            'd-flex',
            multiple_links ? 'multiple-links' : '',
            container_size,
            position_container,
            text_alignment,
            padding,
            'mb-5',
        ] | filter(v => v) | join(' ') %}

        {% set outline_class = outline ? outline ~ 'btn-' ~ button_color : 'btn-' ~ button_color %}
        {% set card_footer_link_classes = [
            'card-link',
            'btn',
            outline_class,
            'text-decoration-none',
            position_container,
            text_alignment,
            'p-2',
            'mt-3',
        ] | filter(v => v) | join(' ') %}

        <div class="{{ card_footer_classes }}"
                {% if multiple_links %}
            role="group" aria-label="Related links"
                {% endif %}>

            {% for link in links %}
                {% if link.url and link.title %}
                    {% if render_as_span %}
                        <span class="{{ card_footer_link_classes }}">{{ link.title }}</span>
                    {% else %}
                        <a href="{{ link.url }}" class="{{ card_footer_link_classes }}"
                                {% if hide_from_screen_readers %} aria-hidden="true" {% endif %}>
                            {{ link.title }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </div>
    {% endif %}
{% endmacro %}