{# Render carousel indicators #}
<div class="carousel-indicators pt-3">
	{% for item in items %}
		<button type="button"
				data-bs-target="#{{ carousel_id }}"
				data-bs-slide-to="{{ loop.index0 }}"
				class="{{ loop.first ? 'active' : '' }}"
				aria-current="{{ loop.first ? 'true' : 'false' }}"
				aria-label="Slide {{ loop.index }}">
		</button>
	{% endfor %}
</div>

{# Render carousel items #}
<div class="carousel-inner text-align-center">
	{% for item in items %}
		<div class="carousel-item{{ loop.first ? ' active' : '' }}" data-bs-interval="6000">
			<div{{ attributes.addClass(classes) }}>
				{{ item.content }}
			</div>
		</div>
	{% endfor %}
</div>