{# 
  =============================================================================
  COMPONENT: Basic Content Block
  ARCHITECTURE: Sinn 556 iRS Level (Minified / Zero-Bloat)
  COMPLIANCE: WCAG 2.2 AA / Schema.org WebPageElement
  =============================================================================
#}{%- import '@cua_theme/component/macros/card_title.html.twig' as titleMacros -%}

{%- set basic_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'basic-block card rounded-0 h-100',
    text_alignment,
    text_color,
    color_background ?: 'bg-transparent',
    color_border ?: 'border-0',
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') -%}

{%- set unique_id = 'block--node-basic-block--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) -%}
{%- set region_label = label is not empty ? label|striptags|trim : 'Content Section'|t -%}
{%- set links_count = links|length -%}
{%- set single_link = (links_count == 1) ? links|first : null -%}

<div{{ attributes
    |without('id')
    .setAttribute('id', unique_id)
    .addClass(basic_classes)
    .setAttribute('role', 'region')
    .setAttribute('aria-label', region_label)
    .setAttribute('itemscope', '')
    .setAttribute('itemtype', 'https://schema.org/WebPageElement')
    .setAttribute('itemprop', 'isPartOf')
    .setAttribute('data-component', 'basic-block')
}}>
    {{- title_prefix -}}
    {{- title_suffix -}}

    {%- if card_image -%}
        {%- import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros -%}
        {{- cardImageMacros.render_card_image(card_image, position_container, text_alignment, text_color, image_size, visibility, content, links) -}}
    {%- elseif icon -%}
        {%- import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros -%}
        {{- iconMacros.render_icon(icon, icon_size, icon_color, padding, position_container, text_alignment) -}}
    {%- endif -%}

    {%- if label -%}
        {{- titleMacros.render_title(
            label, 
            title_prefix, 
            title_suffix, 
            center_content, 
            text_alignment, 
            text_color, 
            padding, 
            true, 
            [], 
            '', 
            'itemprop="name"'
        ) -}}
    {%- endif -%}

    {%- if content -%}
        {%- import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros -%}
        <div itemprop="text">
            {{- bodyMacros.render_body(content, padding, text_color, text_alignment) -}}
        </div>
    {%- endif -%}

    {%- if links -%}
        {%- if single_link -%}
            {%- set outline_class = outline ? outline ~ 'btn-' ~ button_color : 'btn-' ~ button_color -%}
            {%- set link_classes = ['card-link', 'btn', outline_class, 'text-decoration-none', 'p-2', 'mt-3']|filter(v => v)|join(' ') -%}

            <div class="card-footer bg-transparent border-0 d-flex container mb-5">
                <a href="{{ single_link.url ?: '#' }}" 
                   class="{{ link_classes }}" 
                   itemprop="url" 
                   data-ga-event="basic_block_link" 
                   data-ga-category="basic_block" 
                   data-ga-action="{{ single_link.title|default(label)|striptags|trim|e }}" 
                   data-ga-component-id="{{ unique_id }}">
                    {{- single_link.title|default('Learn More') -}}
                </a>
            </div>
        {%- else -%}
            {%- import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros -%}
            {%- set ga_attributes = {
                'data-ga-event': 'basic_block_link',
                'data-ga-category': 'basic_block',
                'data-ga-component-id': unique_id
            } -%}
            {{- cardFooterMacros.render_card_footer(links, container_size, color_background, position_container, text_alignment, padding, outline, button_color, button_layout, false, false, ga_attributes) -}}
        {%- endif -%}
    {%- endif -%}
</div>