{#
/**
 * @file
 * Template for the Call to Action component.
 *
 * Bootstrap Documentation
 * https://getbootstrap.com/docs/5.3
 *
 * Full List Utility Classes
 * https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
 *
 * Available fields located in:
 * - cua_theme.theme
 */
#}

{# Import macros #}
{% import '@cua_theme/component/macros/card_image.html.twig' as cardImageMacros %}
{% import '@cua_theme/component/macros/card_icon.html.twig' as iconMacros %}
{% import '@cua_theme/component/macros/card_title.html.twig' as titleMacros %}
{% import '@cua_theme/component/macros/card_body.html.twig' as bodyMacros %}
{% import '@cua_theme/component/macros/card_footer.html.twig' as cardFooterMacros %}

{# Define CTA classes #}
{% set basic_classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'basic-block',
    'card',
    text_alignment ?: null,
    text_color ?: null,
    color_background ?: null,
    id ? 'block--' ~ id|replace({"_": "-"})|clean_class : null,
] | merge(utility_classes ?: []) | filter(v => v) | join(' ') %}

{# Generate unique ID #}
{% set unique_id = 'block--node-' ~ '-basic-block' ~ '--' ~ elements.content['#block_content'].id()|replace({"_": "-", ":": "--"}) %}

{# Render content #}
<div{{ attributes|without('id').setAttribute('id', unique_id).addClass(basic_classes) }}>

    {# Include image or icon #}
    {% if card_image %}
        {# Render the card image #}
        {{ cardImageMacros.render_card_image(
            card_image,
            position_container,
            text_alignment,
            text_color,
            image_size,
            visibility,
            content,
            links
        ) }}
    {% elseif icon %}
        {# Render the icon #}
        {{ iconMacros.render_icon(
            icon,
            icon_size,
            icon_color,
            padding,
            position_container,
            text_alignment
        ) }}
    {% endif %}

    {# Render the title #}
    {{ titleMacros.render_title(
        label,
        title_prefix,
        title_suffix,
        center_content,
        text_alignment,
        text_color,
        padding,
        links
    ) }}

    {# Render the body #}
    {{ bodyMacros.render_body(
        content,
        padding,
        text_color,
        text_alignment
    ) }}

    {# Render the footer #}
    {{ cardFooterMacros.render_card_footer(
        links,
        container_size,
        color_background,
        position_container,
        text_alignment,
        padding,
        outline,
        button_color
    ) }}

</div>