{#
  page--node--landing-page.html.twig
#}
<div id="page-wrapper">
    <div id="page">
        {% if page.alert %}
            {% block alert %}
                {{ page.alert }}
            {% endblock %}
        {% endif %}

        {% include '@cua_theme/templates/layout/header/header.html.twig' %}

        {# Banner #}
        {% if page.banner %}
            {% block banner %}
                {{ page.banner }}
            {% endblock %}
        {% endif %}

        {# Featured Top #}
        {% if page.featured_top %}
            {% block featured %}
                <div class="featured-top">
                    <aside class="featured-top__inner section {{ container }} clearfix"
                           role="complementary">
                        {{ page.featured_top }}
                    </aside>
                </div>
            {% endblock %}
        {% endif %}

        <div id="main-wrapper-landing-page" class="container-fluid g-0">
            {% block content %}
                <div id="main" class="container-fluid g-0">
                    <div class="row-no-gutters row-offcanvas row-offcanvas-left clearfix">
                        <main{{ content_attributes }}>
                            <section class="section">
                                {{ page.content }}
                            </section>
                        </main>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% if page.featured_bottom_first %}
            <div class="featured-bottom-first container-fluid g-0">
                <aside class="clearfix" role="complementary">
                    {{ page.featured_bottom_first }}
                </aside>
            </div>
        {% endif %}
        {% if page.featured_bottom_second %}
            <div class="featured-bottom-second container g-0">
                <aside class="clearfix" role="complementary">
                    {{ page.featured_bottom_second }}
                </aside>
            </div>
        {% endif %}
        {% if page.featured_bottom_third %}
            <div class="featured-bottom-third container-fluid g-0">
                <aside class="clearfix" role="complementary">
                    {{ page.featured_bottom_third }}
                </aside>
            </div>
        {% endif %}

        {# Footer #}
        {% include '@cua_theme/templates/layout/footer/footer.html.twig' %}

    </div>
</div>
