{#
/**
 * @file
 * Accessible Header Template for CU Theme.
 *
 * Follows 508/WCAG accessibility compliance standards.
 *
 * Bootstrap Documentation: https://getbootstrap.com/docs/5.3
 * Utility Classes: https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css
 */
#}

<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
    {# Top Bar Container #}
    <div class="container top-bar mb-2">
        <div class="row clearfix g-0">
            <div class="col mt-3 g-0">

                {# Top Navigation (includes CU logo and mobile nav toggle) #}
                <nav class="navbar l-header-top navbar-light navbar-expand-lg bg-white p-0 m-0"
                     id="navbar-top">
                    <div class="container-fluid site-name-logo g-0">
                        <div class="container d-flex g-0">

                            {# CU Logo and Slogan #}
                            <div class="flex-shrink-1 d-flex align-items-center">
                                <a href="{{ url('<front>') }}"
                                   rel="{{ ('University of Colorado'|t ~ ' • ' ~ site_slogan)|e }}"
                                   class="site-branding__logo d-flex align-items-center text-decoration-none">

                                    {# Large screen logo #}
                                    <img class="d-none d-lg-block me-2"
                                         src="{{ base_path ~ directory ~ '/images/logo.svg' }}"
                                         alt="{{ 'University of Colorado official logo'|t }}"
                                         width="225" height="24"/>

                                    {# Small screen logo #}
                                    <img class="d-lg-none me-2"
                                         src="{{ base_path ~ directory ~ '/images/cu-mobile-logo.svg' }}"
                                         alt="{{ 'University of Colorado official logo'|t }}"
                                         width="29" height="28"/>

                                    {# Visible site slogan #}
                                    <span class="site-slogan text-nowrap">
                    {{ site_slogan }}
                  </span>
                                </a>
                            </div>

                            {# Mobile search icon #}
                            {% if page.search %}
                                <span class="d-lg-none mx-4">
                  {% include '@cua_theme/templates/layout/header/_search-icon.html.twig' %}
                </span>
                            {% endif %}

                            {# Mobile menu toggle button with accessibility attributes #}
                            <div class="d-lg-none ms-auto">
                                <button class="navbar-toggler collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#mainNavbarSupportedContent"
                                        aria-controls="mainNavbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="{{ 'Toggle navigation'|t }}">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>

            {# Desktop Secondary Menu #}
            {% if page.secondary_menu %}
                <div class="col-md-5 secondary-menu d-none d-lg-block g-0">
                    <nav role="navigation" aria-label="{{ 'Secondary menu'|t }}">
                        <div class="d-flex justify-content-end">
                            {{ page.secondary_menu }}
                        </div>
                    </nav>
                </div>
            {% endif %}

            {# Desktop Search Icon #}
            {% if page.search %}
                <div class="col-md-1 d-flex justify-content-end g-0 d-none d-lg-block">
                    {% include '@cua_theme/templates/layout/header/_search-icon.html.twig' %}
                </div>
            {% endif %}

        </div>
    </div>

    {# Search Form Section with aria-labelledby for accessibility #}
    {% if page.search %}
        <div class="container-fluid main-search bg-light border-top border-grey">
            <div class="container">
                <h2 id="search-heading" class="visually-hidden">{{ 'Search'|t }}</h2>
                <div class="collapse" id="CollapseSearch"
                     data-bs-parent=".site-name-wrapper"
                     aria-labelledby="search-heading">
                    <div class="cua-search">
                        {{ page.search }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {# Desktop Site Name #}
    {% if site_name %}
        <span class="bg-light border-bottom border-grey d-none d-lg-block">
      {% include '@cua_theme/templates/layout/header/_site-name.html.twig' %}
    </span>
    {% endif %}

    {# Main Navigation Bar with accessible label #}
    {% if page.primary_menu or page.secondary_menu or page.search %}
        <nav role="navigation"
             class="navbar l-header-bottom navbar-expand-lg shadow-sm g-0 m-0"
             id="navbar-main"
             aria-labelledby="main-menu-label">
            <div class="container px-3 g-0">
                <h2 id="main-menu-label" class="visually-hidden">{{ 'Main Menu'|t }}</h2>

                <div class="collapse navbar-collapse"
                     id="mainNavbarSupportedContent">

                    {# Sticky logo shown during scroll (not focusable) #}
                    <img class="sticky-show"
                         src="{{ base_path ~ directory ~ '/images/cu-mobile-logo.svg' }}"
                         alt="{{ 'University of Colorado'|t ~ ' • ' ~ site_slogan }}"
                         width="25" height="24"
                         aria-hidden="true"/>

                    {# Primary Menu #}
                    {% if page.primary_menu %}
                        <nav role="navigation" aria-label="{{ 'Primary menu'|t }}">
                            {{ page.primary_menu }}
                        </nav>
                    {% endif %}

                    {# Mobile Secondary Menu #}
                    {% if page.secondary_menu %}
                        <div class="secondary-menu-mobile d-lg-none">
                            {{ page.secondary_menu }}
                        </div>
                    {% endif %}

                    {# Mobile Sticky Menu Area (Secondary + Search) #}
                    <div class="flex-shrink-1 g-0 d-lg-none sticky-search">
                        {% if page.secondary_menu %}
                            <div class="secondary-menu-sticky d-flex justify-content-end">
                                {{ page.secondary_menu }}
                            </div>
                        {% endif %}

                        {% if page.search %}
                            {% include '@cua_theme/templates/layout/header/_search-icon.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}

    {# Mobile Site Name #}
    {% if site_name %}
        <span class="d-lg-none">
      {% include '@cua_theme/templates/layout/header/_site-name.html.twig' %}
    </span>
    {% endif %}
</header>
