{#
/**
* @file
* Template for the Call to Action component.
*
* Bootstrap Documentation
* https://getbootstrap.com/docs/5.3
*
* Full List Utility Classes
* https://github.com/twbs/bootstrap/blob/v5.3.0/dist/css/bootstrap.css#L5360
*
* Available fields located in:
* - cua_theme.theme
*/
#}

{# Render content #}
<header id="header" class="header" role="banner"
        aria-label="{{ 'Site header'|t }}">
    <div class="container top-bar">
        <div class="row clearfix g-0">
            <div class="col g-0">

                {# Top Header Navigation #}
                <nav class="navbar l-header-top navbar-light navbar-expand-lg bg-white p-0 m-0"
                     id="navbar-top">
                    <div class="container-fluid site-name-logo mt-3 mb-3 g-0">
                        <div class="container d-flex g-0">

                            {# CU Logo #}
                            <div class="flex-shrink-1">
                                <a href="{{ url('<front>') }}"
                                   rel="{{ 'University of Colorado'|t ~ ' • ' ~ site_slogan }}"
                                   class="site-branding__logo">
                                    {# Logo for larger screens #}
                                    <img class="d-none d-lg-block"
                                         src="{{ base_path ~ directory ~ '/images/logo.svg' }}"
                                         alt="{{ 'University of Colorado logo'|t }}"
                                         width="225" height="24"/>
                                    {# Logo for smaller screens #}
                                    <img class="d-lg-none"
                                         src="{{ base_path ~ directory ~ '/images/cu-mobile-logo.svg' }}"
                                         alt="{{ 'University of Colorado logo'|t }}"
                                         width="29" height="28"/>
                                </a>
                            </div>

                            {# Site name #}
                            {% if site_slogan %}
                                <div class="w-100 align-items-baseline">
                                    <a href="{{ url('<front>') }}"
                                       title="{{ site_slogan }}" rel="home"
                                       class="site-branding__name site-name">
                                        {{ site_slogan }}
                                    </a>
                                </div>
                            {% endif %}

                            {# Navigation toggle buttons for smaller screens #}
                            {% if page.search %}
                                <span class="d-lg-none mx-4">
                                {% include '@cua_theme/templates/layout/header/_search-icon.html.twig' %}
                            </span>
                            {% endif %}


                            {# Hamburger #}
                            <button class="navbar-toggler collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#mainNavbrSupportedContent"
                                    aria-controls="CollapsingNavbar"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                        </div>
                    </div>
                </nav>
            </div>

            {# Secondary menu  / desktop  #}
            {% if page.secondary_menu %}
                <div class="col-md-5 secondary-menu d-none d-lg-block g-0 ">
                    <div class="d-flex justify-content-end">

                        {# Secondary menu #}
                        {{ page.secondary_menu }}

                        {# Check if user is logged in #}
                        {% if logged_in %}
                            <span class="user-logged-in mx-2">
                                <a href="/user/logout" rel="noopener"
                                   class="btn btn-logout"
                                   aria-label="{{ 'Logout'|t }}">
                                    <i class="px-2 fas fa-sign-in-alt"></i>{{ 'Logout'|t }}
                                </a>
                            </span>
                        {% endif %}

                    </div>
                </div>
            {% endif %}

            {# Search Icon #}
            {% if page.search %}
                <div class="col-md-1 d-flex justify-content-end g-0 d-none d-lg-block">
                    {% include '@cua_theme/templates/layout/header/_search-icon.html.twig' %}
                </div>
            {% endif %}


        </div>
    </div>

    {# Search Form #}
    {% if page.search %}
        <div class="container-fluid main-search bg-light border-top border-grey">
            <div class="container">
                <div class="collapse" id="CollapseSearch"
                     data-bs-parent=".site-name-wrapper"
                     aria-labelledby="search-icon">
                    <div class="cua-search">
                        {{ page.search }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {# Site Name / Desktop #}
    {% if site_name %}
        <span class="bg-light border-bottom border-grey d-none d-lg-block">
            {% include '@cua_theme/templates/layout/header/_site-name.html.twig' %}
        </span>
    {% endif %}

    {# Main Navigation Section #}
    {% if page.primary_menu or page.secondary_menu or page.search %}
        <nav role="navigation"
             class="navbar l-header-bottom navbar-expand-lg shadow-sm g-0 m-0"
             id="navbar-main"
             aria-labelledby="{{ 'main menu'|t }}">
            <div class="container px-3 g-0">
                <div class="collapse navbar-collapse"
                     id="mainNavbrSupportedContent">

                    {# Screen reader Link #}
                    <h2 class="visually-hidden"
                        id="cua-main-menu">{{ 'Main navigation'|t }}</h2>

                    {# Small logo for sticky menu #}
                    <img class="sticky-show"
                         src="{{ base_path ~ directory ~ '/images/cu-mobile-logo.svg' }}"
                         alt="{{ 'University of Colorado'|t ~ ' • ' ~ site_slogan }}"
                         width="25" height="24"/>

                    {# Primary menu #}
                    {% if page.primary_menu %}
                        {{ page.primary_menu }}
                    {% endif %}

                    {# Secondary menu / mobile  #}
                    {% if page.secondary_menu %}
                        <div class="secondary-menu-mobile d-lg-none">
                            {{ page.secondary_menu }}
                        </div>
                    {% endif %}

                    {# Sticky menu bar  #}
                    <div class="flex-shrink-1 g-0 d-lg-none sticky-search">
                        {# Secondary menu / sticky  #}
                        {% if page.secondary_menu %}
                            <div class="secondary-menu-sticky d-flex justify-content-end">
                                {{ page.secondary_menu }}
                            </div>
                        {% endif %}

                        {% if page.search %}
                            {# Search Icon  #}
                            {% include '@cua_theme/templates/layout/header/_search-icon.html.twig' %}
                        {% endif %}

                    </div>

                </div>
            </div>
        </nav>
    {% endif %}

    {# Site Name / Mobile #}
    {% if site_name %}
        <span class="d-lg-none">
            {% include '@cua_theme/templates/layout/header/_site-name.html.twig' %}
        </span>
    {% endif %}

</header>
